body{
    background:#f5f5fa;
    font-family: 'PT Sans', sans-serif;
}

.froala-element, froala-editor, froala-modal, .modal-text {
    color: #000;
}

.logo img{
    width:200px;
    height:72px;
    margin-top:9px;
    margin-bottom:9px;
}
.header hr{
    border-top:2px solid #fff;
    margin:0;
    color:#fff;
    width:100%;
    position:absolute;
    top:70px;
}
.navy-cloud{
    background-color:#283769;
    color:#fff;
    opacity:0.8;
    padding:10px;
    
}
.navy-cloud:before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/Content/Images/tooltip-prompt.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top:20px; 
}
.show-signs, .hide-signs{
    position:absolute;
    top:0;
    right:15px;
    cursor:pointer;
}
/*****************/
/******NAGŁÓWKI*****/
/****************/
h1{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:48px;
    text-align:center;
    color:#1e2850;
}
h2{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:30px;
    text-align:center;
    color:#1e2850;
}
h3{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:24px;
    text-align:center;
    color:#1e2850;
}
h4{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:21px;
    text-align:center;
    color:#1e2850;
}
h5{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:20px;
    color:#283769;
}
/*****************/
/******TEKSTY*****/
/****************/
.txt-s{
    font-size:12px;
}
.txt-m{
    font-size:13px;
}
.txt-l{
    font-size:14px;
}
.txt-xl{
    font-size:16px;
}
/*****************/
/******BUTTONY*****/
/****************/
.btn{
    border-radius:0;
}
.btn-s{
    height:32px!important;
    font-size:13px!important;
}
.btn-m{
    height:44px!important;
    font-size:18px!important;
}
.btn-l{
    height:50px!important;
    font-size:21px!important;
    padding:10px 20px!important;
}
.btn-xl{
    height:60px!important;
    font-size:28px!important;
    padding:6px 20px!important;
}
.btn-input-s{
    height:32px!important;
    font-size:13px!important;
}
.btn-input-m{
    height:44px!important;
    font-size:18px!important;
}
.btn-input-l{
    height:50px!important;
    font-size:21px!important;
    padding:6px 20px!important;
}
.btn-input-xl{
    height:60px!important;
    font-size:28px!important;
    padding:6px 20px!important;
}

.green-button{
    background:#009aaf;
    color:#141932;
}
.green-button:hover{
    background:#00a5bc;
}
.blue-button{
    background:#3770dd;
    color:#fff;
}
.blue-button:hover{
    background:#3a76ea;
}
.purple-button{
    background:#912A4F;
    color:#fff;
}
.purple-button:hover{
    background:#912a4f;
}
.empty-button{
    background:none;
    border:1px solid #436DAA;
}
.empty-button{
    background:none;
    border:1px solid #3770dd;
    color:#3770dd;
}
.empty-button:hover{
    border:1px solid #3a76ea;
    color:#3a76ea;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*****************/
/******INPUTY*****/
/****************/
input{
    border-radius:0!important;
    border:1px solid #fff!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    transition:none!important;
    -webkit-trasition:none!important;  
}
input.form-control:focus{
    border:1px solid #dcdce6!important;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
input-s{
    height:24px!important;
    font-size:12px!important;
}
input-m{
    height:28px!important;
    font-size:13px!important;
}
.input-l{
    height:34px!important;
    font-size:16px!important;
}
.input-xl{
    height:48px!important;
    font-size:18px!important;
}
textarea{
    border-radius:0!important;
    border:1px solid #fff!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    transition:none!important;
    -webkit-trasition:none!important; 
}
textarea.form-control:focus{
    border:1px solid #dcdce6!important;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.validation-field-error{
    color:#ff7878;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span:not(.format) {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/Content/Images/blue-input.png') left top no-repeat;
    cursor:pointer;
    background-position:0 0;
}
input[type="checkbox"]:checked + label span:not(.format) {
    background-position:-48px 0px;
}
.input-hover{
    background-position:-144px 0px!important;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label span:not(.format) {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/Content/Images/blue-input.png') left top no-repeat;
    cursor:pointer;
    background-position:-144px 0;
}
input[type="radio"]:checked + label span:not(.format) {
    background-position:-168px 0px;
}
input[type="radio"].big + label span:not(.format) {
    display:inline-block;
    width:32px;
    height:32px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/Content/Images/big-blue-input.png') left top no-repeat;
    cursor:pointer;
    background-position:-192px 0;
}
input[type="radio"].big:checked + label span:not(.format) {
    background-position:-224px 0px;
}


@media screen and (max-width: 1199px) {
    .btn-s{
        height:28px!important;
        font-size:12px!important;
    }
    .btn-m{
        height:36px!important;
        font-size:16px!important;
    }
    .btn-l{
        height:44px!important;
        font-size:18px!important;
    }
    .btn-xl{
        height:50px!important;
        font-size:21px!important;
    }
    .btn-input-s{
        font-size:12px!important;
    }
    .btn-input-m{
        font-size:16px!important;
    }
    .btn-input-l{
        font-size:18px!important;
    }
    .btn-input-xl{
        font-size:24px!important;
    }
}

#spinner {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}

#spinner .spinner-background {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#spinner .spinner-icon-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
}

#spinner .spinner-cell {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#spinner .spinner-icon {
    width: 48px;
    height: 48px;
    background-image: url('../Assets/Image/ajax-loader.gif');
    margin: auto;
}