body{
    background:#f5f5fa;
    font-family: 'PT Sans', sans-serif;

}
.error{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    background:#ff5a5a;
    min-height:50px;
    width:100%;
}
.error > div{
    display:table;
    height:100%;
}
.error img{
    float:right;
    cursor:pointer;
}
.success{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    background:#55ee99;
    min-height:50px;
    width:100%;
}
.success > div{
    display:table;
    height:100%;
}
.froala-element, froala-editor, froala-modal, .modal-text {
    color: #000;
}
.video-wrapper{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.logo img{
    width:200px;
    height:72px;
    margin-top:9px;
    margin-bottom:9px;
}
.header hr{
    border-top:2px solid #fff;
    margin:0;
    color:#fff;
    width:100%;
    position:absolute;
    top:70px;
}
.navy-cloud{
    background-color:#283769;
    color:#fff;
    padding:10px;
    
}
.navy-cloud:before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/Content/Images/tooltip-prompt.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top:20px; 
}
.show-signs, .hide-signs{
    position:absolute;
    top:0;
    right:15px;
    cursor:pointer;
}
.dashed-border{
    border:2px dashed #0d223d;
}
.display-table{
    display:table;
    width:100%;
    padding:15px;
    background:#fff;
}
.display-table-cell{
    display:table-cell;
    vertical-align:middle;
}
.display-table .display-table-header-group{
    display:table-header-group;
}
.display-table .display-table-row-group{
    display:table-row-group;
}
.display-table .display-table-row{
    display:table-row;
}
.display-table .display-table-row>div{
    display:table-cell;
    vertical-align:middle;
    padding-left:15px;
    padding-right:15px;
    height:35px;
}

.form label{
    font-weight:300;
    width:100%;
    margin-bottom:10px;
}
.form button{
    width:100%;
    margin-bottom:30px;
}
.blue-labels div{
    color:#3770dd;
}
.green-labels div{
    color:#009aaf;
}

/*****************/
/******NAGŁÓWKI*****/
/****************/
h1{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:48px;
    text-align:center;
    color:#1e2850;
}
h2{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:30px;
    text-align:center;
    color:#1e2850;
}
h3{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:24px;
    color:#1e2850;
    border-bottom:1px solid #141932;
    padding-bottom:10px;
}
h4{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:21px;
    color:#1e2850;
}
h5{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:20px;
    color:#283769;
}
h6{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:16px;
    color:#283769;
}
/*****************/
/******TEKSTY*****/
/****************/
.txt-s{
    font-size:12px;
}
.txt-m{
    font-size:13px;
}
.txt-l{
    font-size:14px;
}
.txt-xl{
    font-size:16px;
}
/*****************/
/******BUTTONY*****/
/****************/
.btn{
    border-radius:0;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight:700;
}
.btn-s{
    height:32px!important;
    font-size:13px!important;
}
.btn-m{
    height:44px!important;
    font-size:18px!important;
    padding:10px 12px;
}
.btn-l{
    height:50px!important;
    font-size:21px!important;
    padding:10px 20px!important;
}
.btn-xl{
    height:60px!important;
    font-size:28px!important;
    padding:6px 20px!important;
}
.btn-input-s{
    height:34px!important;
    font-size:13px!important;
}
.btn-input-m{
    height:46px!important;
    font-size:18px!important;
}
.btn-input-l{
    height:52px!important;
    font-size:21px!important;
    padding:6px 20px!important;
}
.btn-input-xl{
    height:62px!important;
    font-size:28px!important;
    padding:6px 20px!important;
}

.green-button{
    background:#009aaf;
    color:#fff;
}
.green-button:hover{
    background:#00a5bc;
    color:#fff;
}
.blue-button{
    background:#3770dd;
    color:#fff;
}
.blue-button:hover{
    background:#3a76ea;
    color:#fff;
}
.purple-button{
    background:#912A4F;
    color:#fff;
}
.purple-button:hover{
    background:#912a4f;
    color:#fff;
}
.navy-button{
    background:#0d223d;
    color:#fff;
}
.navy-button:hover{
    background:#1e2850;
    color:#fff;
}
.empty-blue-button{
    background:none;
    border:1px solid;
    border-color:#3770dd;
    color:#3770dd;
}
.empty-blue-button:hover{
    border:1px solid;
    border-color:#3a76ea;
    color:#3a76ea;
}
.empty-green-button{
    background:none;
    border:1px solid;
    border-color:#009aaf;
    color:#009aaf;
}
.empty-green-button:hover{
    border:1px solid;
    border-color:#00a5bc;
    color:#00a5bc;
}
.empty-purple-button{
    background:none;
    border:1px solid;
    border-color:#912A4F;
    color:#912A4F;
}
.empty-purple-button:hover{
    border-color:#912a4f;
    color:#912a4f;
}
.squared-btn{
    width:36px;
    height:36px;
    font-size:18px;
    border:2px solid!important;
    background:none;
    margin:5px;
    padding:0;
}
.circle-btn{
    font-size:36px;
    padding:5px;
    margin:0;
    border:none;
    color:#ff5a5a;
    background:none;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.table-btn{
    height:32px!important;
    font-size:16px!important;
    font-weight:700;
    border:2px solid!important;
    padding:4px 20px!important;
}
.tab-button{
    height:60px;
    background:none;
    color:#333;
    border:none;
    padding-left:30px;
    padding-right:30px;
    font-weight:700;
    font-size:16px;
}
.tab-button.active{
    color:#3770dd;
    background:#f5f5fa;
}

/*****************/
/******SELECTY*****/
/****************/
select{
    color:#fff!important;
    border-radius:0!important;
    padding:0 12px!important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-origin:content-box;
}
.select-green{
    background-color:#009aaf!important;
}
.select-green:hover{
    background-color:#00a5bc!important;
}
.select-blue{
    background-color:#3770dd!important;
}
.select-blue:hover{
    background-color:#3a76ea!important;
}
select option{
    background-color:#fff;
    color:#333;
}
.selects label{
    font-weight:400;
}
.selects .select-m label{
    font-size:12px;
}
.selects .select-l label{
    font-size:16px;
}
.selects .select-xl label{
    font-size:18px;
}
.selects .select-m select{
    height:32px;
    border:2px solid #436DAA; 
}

/*****************/
/******INPUTY*****/
/****************/
input{
    border-radius:0!important;
    border:1px solid #fff!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    transition:none!important;
    -webkit-trasition:none!important;  
}
input.form-control:focus{
    border:1px solid #dcdce6!important;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
input-s{
    height:24px!important;
    font-size:12px!important;
}
input-m{
    height:28px!important;
    font-size:13px!important;
}
.input-l{
    height:34px!important;
    font-size:16px!important;
}
.input-xl{
    height:48px!important;
    font-size:18px!important;
}
textarea{
    border-radius:0!important;
    border:1px solid #fff!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    transition:none!important;
    -webkit-trasition:none!important; 
}
textarea.form-control:focus{
    border:1px solid #dcdce6!important;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.validation-field-error{
    color:#ff7878;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span:not(.format) {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/Content/Images/blue-input.png') left top no-repeat;
    cursor:pointer;
    background-position:0 0;
}
input[type="checkbox"]:checked + label span:not(.format) {
    background-position:-48px 0px;
}
.input-hover{
    background-position:-144px 0px!important;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label span:not(.format) {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/Content/Images/blue-input.png') left top no-repeat;
    cursor:pointer;
    background-position:-144px 0;
}
input[type="radio"]:checked + label span:not(.format) {
    background-position:-168px 0px;
}
input[type="radio"].big + label span:not(.format) {
    display:inline-block;
    width:32px;
    height:32px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/Content/Images/big-blue-input.png') left top no-repeat;
    cursor:pointer;
    background-position:-192px 0;
}
input[type="radio"].big.purple + label span:not(.format) {
    display:inline-block;
    width:32px;
    height:32px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/Content/Images/big-purple-input.png') left top no-repeat;
    cursor:pointer;
    background-position:-192px 0;
}
input[type="radio"].big:checked + label span:not(.format) {
    background-position:-224px 0px;
}

#spinner {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}

#spinner .spinner-background {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#spinner .spinner-icon-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
}

#spinner .spinner-cell {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#spinner .spinner-icon {
    width: 48px;
    height: 48px;
    background-image: url('../Assets/Image/ajax-loader.gif');
    margin: auto;
}

@media screen and (max-width: 1199px) {
    /*****************/
    /******BUTTONY*****/
    /****************/
    .btn-s{
        height:28px!important;
        font-size:12px!important;
    }
    .btn-m{
        height:36px!important;
        font-size:16px!important;
    }
    .btn-l{
        height:44px!important;
        font-size:18px!important;
    }
    .btn-xl{
        height:50px!important;
        font-size:21px!important;
    }
    .btn-input-s{
        font-size:12px!important;
    }
    .btn-input-m{
        font-size:16px!important;
    }
    .btn-input-l{
        font-size:18px!important;
    }
    .btn-input-xl{
        font-size:24px!important;
    }

    /*****************/
    /******NAGŁÓWKI*****/
    /****************/
    h1{
        font-size:36px;
    }
    h2{
        font-size:30px;
    }
    h3{
        font-size:24px;
    }
    h4{
        font-size:21px;
    }
    h5{
        font-size:18px;
    }
    h6{
        font-size:15px;
    }
    .navy-cloud.navy-cloud-up:before{
        background-image: url("/Content/Images/tooltip-prompt-up.png");
        left: 25px;
        top:15px; 
    }
}

