<div>
    <div class="modal-header">
        <div class="btn btn-primary" ng-click="close()">X</div>
    </div>
    <div class="modal-body">
        <div>
            Dlaczego firma jest usuwana
        </div>
        <input type="text" name="selectedReason.Text" ng-model="selectedReason.Text" />
        <div>
            Potwierdz chec usuniecia (usuwane są wszystkie informacje z bazy!)
        </div>
    </div>
    <div class="modal-header">
        <div class="btn btn-primary" ng-click="save()">Potwierdzam</div>
    </div>
</div>
