<a href="/userCurrent">{{currentUser.DisplayName}}</a>
<div class="keeper-menu">
    <div class="col-sm-4 col-md-12">
        @if (ViewBag.Trainings.Count > 0)
        {
            <h6>AKTYWNE SZKOLENIA</h6>
            <ul class="nav navbar-nav active-courses-menu">
                @foreach (var training in ViewBag.Trainings)
                {
                    <li>
                        <a href="/ActiveTraining/@training.TrainingID">
                            <img src="/Content/Images/menu-icon.png" /> <span>@training.Name</span>
                        </a>
                    </li>
                }
            </ul>
        }
        <hr class="hidden-sm" />
        <ul class="nav navbar-nav">
            <li>
                <a href="/userTranings">
                    <img src="/Content/Images/menu-icon.png" /> <span>LISTA SZKOLEŃ</span>
                </a>
            </li>
            <li>
                <a href="/userResult">
                    <img src="/Content/Images/menu-icon.png" /> <span>MOJE WYNIKI</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 col-md-12">
        <ul class="nav navbar-nav">
            <li>
                <a href="/creatorTraining">
                    <img src="/Content/Images/menu-icon.png" /> <span>UTWÓRZ SZKOLENIE</span>
                </a>
            </li>
            <li>
                <a href="/creatorTrainings">
                    <img src="/Content/Images/menu-icon.png" /> <span>MOJE SZKOLENIA</span>
                </a>
            </li>
            <li>
                <a href="/creatorHowTo">
                    <img src="/Content/Images/menu-icon.png" /> <span>JAK TWORZYĆ SZKOLENIA</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 col-md-12 additional-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="/userFaq">
                    <img src="/Content/Images/menu-icon.png" /> <span>FAQ</span>
                </a>
            </li>
        </ul>
    </div>
</div>