
<div class="keeper-menu">
    <div class="col-sm-4 col-md-12">
        <h6>AKTYWNE SZKOLENIA</h6>
        <ul class="nav navbar-nav active-courses-menu">
            <li>
                <a href="/ActiveTraning">
                    <img src="/Content/Images/menu-icon.png" /> <span>Kurs Word</span>
                </a>
            </li>
            <li>
                <a href="/ActiveTraning">
                    <img src="/Content/Images/menu-icon.png" /> <span>Kurs Excel</span>
                </a>
            </li>
            <li>
                <a href="/ActiveTraning">
                    <img src="/Content/Images/menu-icon.png" /> <span>Kurs Word</span>
                </a>
            </li>
            <li>
                <a href="/ActiveTraning">
                    <img src="/Content/Images/menu-icon.png" /> <span>Kurs Excel</span>
                </a>
            </li>
        </ul>
        <hr class="hidden-sm" />
        <ul class="nav navbar-nav admin-menu">
            <li>
                <a href="/userTranings">
                    <img src="/Content/Images/menu-icon.png" /> <span>LISTA SZKOLEŃ</span>
                </a>
            </li>
            <li>
                <a href="/userResult">
                    <img src="/Content/Images/menu-icon.png" /> <span>MOJE WYNIKI</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/Content/Images/menu-icon.png" /> <span>MOJE USTAWIENIA</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 col-md-12">
        <ul class="nav navbar-nav">
            <li>
                <a href="/creatorTraning">
                    <img src="/Content/Images/menu-icon.png" /> <span>UTWÓRZ SZKOLENIE</span>
                </a>
            </li>
            <li>
                <a href="/creatorTranings">
                    <img src="/Content/Images/menu-icon.png" /> <span>MOJE SZKOLENIA</span>
                </a>
            </li>
            <li>
                <a href="/creatorHowTo">
                    <img src="/Content/Images/menu-icon.png" /> <span>JAK TWORZYĆ SZKOLENIA</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 col-md-12">
        <ul class="nav navbar-nav">
            <li>
                <a href="/managerEdit">
                    <img src="/Content/Images/menu-icon.png" /> <span>EDYTUJ SZKOLENIE</span>
                </a>
            </li>
            <li>
                <a href="/managerResult">
                    <img src="/Content/Images/menu-icon.png" /> <span>WYNIKI SZKOLEŃ</span>
                </a>
            </li>
            <li>
                <a href="/adminManage">
                    <img src="/Content/Images/menu-icon.png" /> <span>ZARZĄDZAJ SZKOLENIAMI</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4  col-md-12">
        <ul class="nav navbar-nav">
            <li>
                <a href="/managerInvitation">
                    <img src="/Content/Images/menu-icon.png" /> <span>ZAPROSZENIA</span>
                </a>
            </li>
            <li>
                <a href="/adminUsers">
                    <img src="/Content/Images/menu-icon.png" /> <span>UŻYTKOWNICY</span>
                </a>
            </li>
            <li>
                <a href="/adminGroups">
                    <img src="/Content/Images/menu-icon.png" /> <span>GRUPY UŻYTKOWNIKÓW</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 col-md-12">
        <ul class="nav navbar-nav">
            <li>
                <a href="/adminStats">
                    <img src="/Content/Images/menu-icon.png" /> <span>STATYSTYKI</span>
                </a>
            </li>
            <li>
                <a href="/adminSettings">
                    <img src="/Content/Images/menu-icon.png" /> <span>USTAWIENIA FIRMOWE</span>
                </a>
            </li>
            <li>
                <a href="/adminHowTo">
                    <img src="/Content/Images/menu-icon.png" /> <span>INSTRUKCJA OBSŁUGI</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 col-md-12">
        <ul class="nav navbar-nav">
            <li>
                <a href="/protectorRoles">
                    <img src="/Content/Images/menu-icon.png" /> <span>UPRAWNIENIA</span>
                </a>
            </li>
            <li>
                <a href="/protectorLogs">
                    <img src="/Content/Images/menu-icon.png" /> <span>LOGI</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 col-md-12 additional-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="/userFaq">
                    <img src="/Content/Images/menu-icon.png" /> <span>FAQ</span>
                </a>
            </li>
            <li>
                <a href="/logoff">
                    <img src="/Content/Images/menu-icon.png" /> <span>WYLOGUJ</span>
                </a>
            </li>
        </ul>
    </div>
</div>