
<div class="user-menu">
    <div class="col-sm-4 col-md-12">
        <h6>AKTYWNE SZKOLENIA</h6>
        <ul class="nav navbar-nav active-courses-menu">
            <li>
                <a href="/ActiveTraning">
                    <img src="/Content/Images/menu-icon.png" /> <span>Kurs Word</span>
                </a>
            </li>
            <li>
                <a href="/ActiveTraning">
                    <img src="/Content/Images/menu-icon.png" /> <span>Kurs Excel</span>
                </a>
            </li>
            <li>
                <a href="/ActiveTraning">
                    <img src="/Content/Images/menu-icon.png" /> <span>Kurs Word</span>
                </a>
            </li>
            <li>
                <a href="/ActiveTraning">
                    <img src="/Content/Images/menu-icon.png" /> <span>Kurs Excel</span>
                </a>
            </li>
        </ul>
        <hr class="hidden-sm" />
        <ul class="nav navbar-nav">
            <li>
                <a href="/userTranings">
                    <img src="/Content/Images/menu-icon.png" /> <span>LISTA SZKOLEŃ</span>
                </a>
            </li>
            <li>
                <a href="/userResult">
                    <img src="/Content/Images/menu-icon.png" /> <span>MOJE WYNIKI</span>
                </a>
            </li>
            @*<li>
                <a href="#">
                    <img src="/Content/Images/menu-icon.png" /> <span>MOJE USTAWIENIA</span>
                </a>
            </li>*@

        </ul>
    </div>
    <div class="col-sm-4 col-md-12 additional-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="/userFaq">
                    <img src="/Content/Images/menu-icon.png" /> <span>FAQ</span>
                </a>
            </li>
            @*<li>
                <a href="/logoff">
                    <img src="/Content/Images/menu-icon.png" /> <span>WYLOGUJ</span>
                </a>
            </li>*@
        </ul>
    </div>
</div>