<div>
    Domyslnie kazde szkolenie moze byc widoczne przez jego autora lub przez wszystkich uzytkowanikow. Mozesz jednak stworzyc grupy skladajaca sie z czesci uzytkownikow i 
    udostepnic tylko takiej grupie szkolenia. Mozesz np. udostepnic szkolenia do IT, biura obslugi klienta, handlowcow itp.
</div>
<div>
    Grupy dla ktorych udostepniane jest szkolenie mozesz ustawic tworzac lub edytujac szkolenie. W tym miejscu mozesz tworzyc same grupy.
</div>
