<div ng-app="" ng-controller="adminGroupsController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>

    <div>
        Domyslnie kazde szkolenie moze byc widoczne przez jego autora lub przez wszystkich uzytkowanikow. Mozesz jednak stworzyc grupy skladajaca sie z czesci uzytkownikow i
        udostepnic tylko takiej grupie szkolenia. Mozesz np. udostepnic szkolenia do IT, biura obslugi klienta, handlowcow itp.
    </div>
    <div>
        Grupy dla ktorych udostepniane jest szkolenie mozesz ustawic tworzac lub edytujac szkolenie. W tym miejscu mozesz tworzyc same grupy.
    </div>

    <div id="inputButto" ng-click="showCreate()">
        Utworz grupe
    </div>
    <div ng-show="isCreated">
        <div class="row">
            <div id="mainText">
                Nazwa grupy
            </div>
            <input type="text" id="mainInput" name="viewModel.Current.Name" ng-model="viewModel.Current.Name" maxlength=40>
        </div>
        <div class="row">
            <div id="mainText">
                Czlonkowie grupy :
                <div ng-repeat="user in viewModel.Current.AssignedPeople">
                    {{user.DisplayName}} ,
                </div>
               
            </div>
            <button ng-click="chooseUsers(viewModel.Current.AssignedPeople)">
                Wybierz z listy
            </button>
        </div>
        <div class="row">
            <button ng-click="add(viewModel.Current)">
                Zapisz
            </button>
        </div>
    </div>
    <div ng-repeat="group in viewModel.Groups">
        <div class="row">
            <div id="mainText">
                Grupa :
            </div>
            <div id="mainText" ng-hide="group.isEditable">
                {{ group.Name }}
            </div>
            <input type="text" id="mainInput" name="group.Name" ng-model="group.Name" ng-show="group.isEditable">
            <button ng-hide="group.isEditable" ng-click="showEdit(group)">
                EDYCJA
            </button>
            <button ng-hide="group.isEditable" ng-click="delete(group)">
                USUN GRUPE
            </button>
        </div>
        <div class="row">
            <div id="mainText">
                Czlonkowie grupy : 
                <div ng-repeat="user in group.AssignedPeople">
                    {{user.DisplayName}} ,
                </div>
            </div>
            <button ng-show="group.isEditable" ng-click="chooseUsers(group)">
                Wybierz z listy
            </button>
        </div>
        <div class="row">
            <button  ng-show="group.isEditable" ng-click="edit(group)">
                ZAPISZ
            </button>
            <button ng-show="group.isEditable" ng-click="cancel(group)">
                ANULUJ ZMIANY
            </button>
        </div>
    </div>
</div>
