

<strong class="error">{{ viewModel.ErrorMessage }}</strong>
<strong class="error">{{ viewModel.Success }}</strong>

<div>
    <button class="row" ng-click="showTab(1)">
        WEWNETRZNE
    </button>

    <button class="row" ng-click="showTab(2)" ng-show="viewModel.ShowExternal">
        OD KENPRO
    </button>

    <div ng-repeat="item in viewModel.InternalTrainings" ng-show="index  == 1">
        <div class="row">
            <div id="mainText">
                {{ item.Name }}
            </div>
            <div id="mainText">
                {{ item.UserName }}
            </div>
            <div id="mainText">
                <div ng-repeat="group in item.AssignedGroups">
                    {{ group.Name }} ,
                </div>
                <div id="mainText" ng-show="{{ item.IsActive }}">
                    dostepny
                </div>
                <div id="mainText" ng-hide="{{ item.IsActive }}">
                    zablokowany
                </div>
                <butto ng-click="showLogs(item)" ng-hide="item.showLog">
                    POKAZ LOGI EDYCJI
                </butto>
                <butto  ng-click="hideLogs(item)" ng-show="item.showLog">
                    UKRYJ LOGI EDYCJI
                </butto>
                <button  ng-click="changeStatus(item)" ng-show="{{ item.IsActive }}">
                    ZABLOKUJ
                </button>
                <button ng-click="changeStatus(item)" ng-hide="{{ item.IsActive }}">
                    ODBLOKUJ
                </button>
            </div>
            <div class="row" ng-show="item.showLog">
                <div ng-repeat="log in item.Logs">
                    <div class="row">
                        <div id="mainText">
                            {{ log.Date | date: 'dd.MM.yyyy HH.mm' }}
                        </div>
                        <div id="mainText">
                            {{ log.Name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="item in viewModel.ExternalTrainings" ng-show="index  == 2">
        <div class="row">
            <div id="mainText">
                {{ item.Name }}
            </div>
        </div>
        <div class="row">
            <div id="mainText">
                Dostepne dla :
                <div ng-repeat="group in item.AssignedGroups">
                    {{group.Name}}, 
                </div>
            </div>
            <button ng-click="showEdit = ! showEdit" ng-show="!showEdit">
                EDYTUJ
            </button>
        </div>
        <div class="row" ng-show="showEdit">
            <div ng-repeat="item in viewModel.Groups">
                <input type="checkbox" ng-model="item.selected" />{{item.Name}}
            </div>
            <button ng-click="edit(item)" ng-show="showEdit">
                ZAPISZ ZMIANY
            </button>
        </div>
    </div>
</div>


