<div ng-app="" ng-controller="adminManagmentController" class="container">

    <strong class="error">{{ error }}</strong>

    <div id="simpleRow" ng-click="showTab(1)">
        WEWNETRZNE
    </div>

    @if (@ViewBag.showKenpro == true)
    {

    <div id="simpleRow" ng-click="showTab(2)">
        OD KENPRO
    </div>
        
    }
    
    <div ng-repeat="item in InternalTrainings" ng-show="index  == 1">
        <div id="simpleRow">
            <div id="mainText">
                {{ item.Name }}
            </div>
            <div id="mainText">
                {{ item.CreateUserName }}
            </div>
            <div id="mainText">
                {{ item.AssignedGroups }}
            </div>
            <div id="mainText" ng-show="{{ item.IsActive }}">
                dostepny
            </div>
            <div id="mainText" ng-hide="{{ item.IsActive }}">
                zablokowany
            </div>
            <div id="inputButto" ng-click="showLogs(item)" ng-hide="item.showLog">
                POKAZ LOGI EDYCJI
            </div>
            <div id="inputButto" ng-click="hideLogs(item)" ng-show="item.showLog">
                UKRYJ LOGI EDYCJI
            </div>
            <div id="inputButto" ng-click="changeStatus(item)" ng-show="{{ item.IsActive }}">
                ZABLOKUJ
            </div>
            <div id="inputButto" ng-click="changeStatus(item)" ng-hide="{{ item.IsActive }}">
                ODBLOKUJ
            </div>
        </div>
        <div id="simpleRow" ng-show="item.showLog">
            <div ng-repeat="item in InternalTrainings">
                <div id="simpleRow">
                    <div id="mainText">
                        {{ item.Name }}
                    </div>
                    <div id="mainText">
                        {{ item.CreateUserName }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="item in KenproTrainings" ng-show="index  == 2">
        <div id="simpleRow">
            <div id="mainText">
                {{ item.Name }}
            </div>
        </div>
        <div id="simpleRow">
            <div id="mainText">
                Dostepne dla : {{ item.AssignedGroups }}
            </div>
            <div id="inputButto" ng-click="showEdit = ! showEdit" ng-show="!showEdit">
                EDYTUJ
            </div>
        </div>
        <div id="simpleRow" ng-show="showEdit">
            <div ng-repeat="item in Groups">
                <input type="checkbox" ng-model="item.selected" />{{item.Name}}
            </div>
            <div id="inputButto" ng-click="edit(item)" ng-show="showEdit">
                ZAPISZ ZMIANY
            </div>
        </div>
    </div>
</div>


