<strong class="error">{{ viewModel.ErrorMessage }}</strong>
<strong class="error">{{ viewModel.Success }}</strong>

<div class="container" id="trainings-manage">
    <div class="row">
        <div class="row buttons">
            <button ng-class="{active: index == 1 }" class="tab-button" ng-click="showTab(1)">
                WEWNETRZNE
            </button>
            <button ng-class="{active: index == 2 }" class="tab-button" ng-click="showTab(2)" ng-show="viewModel.ShowExternal">
                OD KENPRO
            </button>
        </div>
    </div>
    <div class="row internal-trainings" ng-show="index  == 1">
        <div class="col-xs-12">
            <h3>SZKOLENIA WEWNĘTRZNE</h3>
        </div>
        <div class="display-table">
            <div class="display-table-header-group blue-labels">
                <div class="display-table-row">
                    <div>SZKOLENIE</div>
                    <div>TWÓRCA</div>
                    <div>MOGĄ URUCHOMIĆ</div>
                    <div>STATUS</div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div class="display-table-row-group" ng-repeat="item in viewModel.InternalTrainings">
                <div class="display-table-row">
                    <div>{{ item.Name }}</div>
                    <div>{{ item.UserName }}</div>
                    <div>
                        <div ng-show="!!item.AssignedGroups && item.AssignedGroups.length > 0">
                            <span ng-repeat="group in item.AssignedGroups">{{ group.Name }} {{$last ? '' : ', '}} </span>
                        </div>
                        <div ng-show="!item.AssignedGroups || item.AssignedGroups.length == 0">
                            tylko autor
                        </div>
                    </div>
                    <div>
                        <span ng-show="{{ item.IsActive }}">dostepne</span>
                        <span ng-hide="{{ item.IsActive }}">zablokowane</span>
                    </div>
                    <div>
                        <button ng-click="changeStatus(item)" ng-show="{{ item.IsActive }}" class="glyphicon glyphicon-minus-sign circle-btn"></button>
                        <button ng-click="changeStatus(item)" ng-hide="{{ item.IsActive }}" class="glyphicon glyphicon-remove-sign circle-btn"></button>
                    </div>
                    <div>
                        <button ng-click="showLogs(item)" ng-hide="item.showLog" class="glyphicon glyphicon-chevron-down squared-btn empty-blue-button"></button>
                        <button ng-click="hideLogs(item)" ng-show="item.showLog" class="glyphicon glyphicon-chevron-up squared-btn empty-blue-button"></button>
                    </div>
                </div>
                <div class="display-table-row blue-labels" ng-show="item.showLog">
                    <div>DATA EDYCJI</div>
                    <div>OSOBA EDYTUJĄCA</div>
                </div>
                <div class="display-table-row" ng-show="item.showLog" ng-repeat="log in item.Logs">
                    <div>
                        {{ log.Date | date: 'dd.MM.yyyy HH.mm' }}
                    </div>
                    <div>
                        {{ log.Name }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="index  == 2">
        <div class="col-xs-12">
            <h3>SZKOLENIA OD KENPRO</h3>
        </div>
        <div class="display-table">
            <div class="display-table-header-group">
                <div class="display-table-row blue-labels">
                    <div>SZKOLENIE</div>
                    <div>MOGĄ URUCHOMIĆ</div>
                    <div></div>
                </div>
            </div>
            <div ng-repeat="item in viewModel.ExternalTrainings" class="display-table-row-group">
                <div class="display-table-row">
                    <div>{{ item.Name }}</div>
                    <div ng-show="!!item.AssignedGroups && item.AssignedGroups.length > 0">
                        <span ng-repeat="group in item.AssignedGroups">{{group.Name}} {{$last ? '' : ', '}} </span>
                    </div>
                    <div ng-show="!item.AssignedGroups || item.AssignedGroups.length == 0">
                        <span > tylko autor </span>
                    </div>
                    <div><button ng-click="edit(item)" class="glyphicon glyphicon-pencil squared-btn empty-blue-button"></button></div>
                </div>
            </div>
        </div>
    </div>
</div>


@Styles.Render("~/Trainings")