<div ng-app="" ng-controller="adminManagmentController" class="container">

    <strong class="error">{{ error }}</strong>

    <div id="simpleRow">
        <div id="inputButto" ng-click="showInternal = ! showInternal">
            WEWNETRZNE
        </div>
        <div id="inputButto" ng-click="showInternal = ! showInternal">
            OD KENPRO
        </div>
    </div>

    <div ng-show="!showInternal">
        <div ng-repeat="item in InternalTranings">
            <div id="simpleRow">
                <div id="mainText">
                    {{ item.Name }}
                </div>
                <div id="mainText">
                    {{ item.CreateUserID }}
                </div>
                <div id="inputButto" ng-click="showLogs = ! showLogs" ng-show="!showLogs">
                    POKAZ LOGI EDYCJI
                </div>
                <div id="inputButto" ng-click="showLogs = ! showLogs" ng-show="showLogs">
                    UKRYJ LOGI EDYCJI
                </div>
                <div id="inputButto" ng-click="showBlock = ! showBlock" ng-show="!showBlock">
                    ZABLOKUJ
                </div>
                <div id="inputButto" ng-click="showBlock = ! showBlock" ng-show="showBlock">
                    ODBLOKUJ
                </div>
            </div>
            <div id="simpleRow" ng-show="showLogs">
                <p>Logs - todo</p>
            </div>
        </div>
    </div>

    <div ng-show="showInternal">
        <div ng-repeat="item in KenproTranings">
            <div id="simpleRow">
                <div id="mainText">
                    {{ item.Name }}
                </div>
            </div>
            <div id="simpleRow">
                <div id="mainText">
                    Dostepne dla :
                </div>
                <div id="inputButto" ng-click="showEdit = ! showEdit" ng-show="!showEdit">
                    EDYTUJ
                </div>
            </div>
            <div id="simpleRow" ng-show="showEdit">
                <input type="checkbox" title="Wszyscy" />
                <div id="inputButto" ng-click="showEdit = ! showEdit" ng-show="showEdit">
                    ZAPISZ ZMIANY
                </div>
            </div>
        </div>
    </div>
</div>

