
<div ng-app="" ng-controller="adminSettingsController" class="container">

    <div>
        Czy uzytkownicy moga samodzielnie zmieniac swoja nazwe
        <input type="radio" name="allowToChangeName" value=true ng-model="currentItem.AllowUserToChangeName" /> TAK
        <input type="radio" name="allowToChangeName" value=false ng-model="currentItem.AllowUserToChangeName"  /> NIE
    </div>
    <div>
        Czy uzytkownik moze samodzielnie zmieniac adres email
        <input type="radio" name="allowToChangeMail" value=true ng-model="currentItem.AllowUserToChangeMail" /> TAK
        <input type="radio" name="allowToChangeMail" value=false ng-model="currentItem.AllowUserToChangeMail"  />NIE
    </div>
</div>
