<div ng-app="" ng-controller="adminStatisticsController" class="container">

    <strong class="error">{{ success }}</strong>

    <div>
        Liczba osob w organizacji: {{ Statistic.People }}
    </div>
    <div>
        W tym osoby ze statusem aktywne: {{ Statistic.ActivePeople }}
    </div>
    <div>
        W tym osoby ze statusem zablokowane: {{ Statistic.BlockedPeople }}
    </div>
    <div>
        Liczba kont usunietych: {{ Statistic.DeleteAccount }}
    </div>
    <div>
        Liczba uruchomionych kursow: {{ Statistic.StartedTrainings }}
    </div>
    <div>
        w tym zakonczonych: {{ Statistic.CompletedTrainings }}
    </div>
    <div>
        Liczba osob aktywnych w ostatnich 7 dniach:{{ Statistic.WeekActiveUser }}
    </div>
    <div>
        Liczba osob aktywnych w ostatnich 30 dniach: {{ Statistic.MonthActiveUser }}
    </div>
    <div>
        SZCZEGOLOWE DANE O URUCHOMIENIACH SZKOLEN
        <div ng-repeat="item in Trainings">
            Szkolenie {{item.Name}} : {{item.RunTrainingStats}} uruchomien
        </div>
    </div>
</div>
