<div ng-app="" ng-controller="adminUsersController" class="container">

    <strong class="error">{{ error }}</strong>
    <div ng-repeat="person in People">
        <div id="simpleRow">
            <div id="mainText" ng-hide="person.isEditable">
                {{ person.UserName }}
            </div>
            <input type="text" id="mainInput" name="person.UserName" ng-model="person.UserName" ng-show="person.isEditable">
            <div id="inputButto" ng-hide="person.isEditable" ng-click="delete(person)">
                USUN
            </div>
            <div id="inputButto" ng-hide="person.isEditable" ng-click="showEdit(person)">
                EDYCJA
            </div>
            <div id="inputButto" ng-show="person.isEditable" ng-click="save(person)">
                ZAPISZ
            </div>
            <div id="inputButto" ng-show="person.isEditable" ng-click="cancel(person)">
                ANULUJ ZMIANY
            </div>
        </div>
        <div id="simpleRow">
            <div id="detailText" ng-hide="person.isEditable">
                {{ person.Email }}
            </div>
            <input type="text" id="mainInput" name="person.Email" ng-model="person.Email" ng-show="person.isEditable">
            <div id="detailText" ng-hide="person.isEditable">
                {{ person.selectedStatus }}
            </div>
            <select ng-model="person.selectedStatus" ng-options="c for c in availableStatus" ng-show="person.isEditable" ng-change="changeStatus(person)">
                @*<option value="">{{ person.Status.Name }}</option>*@
            </select>
            <div id="detailText">
                {{ person.RegistrationDate | date: 'dd.MM.yyyy hh.mm' }}
            </div>
            <div id="detailText">
                {{ person.LastActivationDate | date: 'dd.MM.yyyy hh.mm' }}
            </div>
            <div id="detailText">
                {{ person.Profile.Name }}
            </div>
            <div id="detailText">
                {{ person.AssignedGroups }}
            </div>
            <div id="detailText">
                {{ person.Login }}
            </div>
        </div>
        <div id="simpleRow">
            <div id="mainText">
                Kursy ({{ person.TrainingNumber }})
            </div>
            <div id="inputButto" ng-click="showDetails = ! showDetails" ng-show="!showDetails">
                POKAZ
            </div>
            <div id="inputButto" ng-click="showDetails = ! showDetails" ng-show="showDetails">
                UKRYJ
            </div>
        </div>

        <div id="simpleRow" ng-show="showDetails">
            <div ng-repeat="item in person.AssignedTrainings">
                <div id="simpleRow">
                    <div id="detailText">
                        {{ item.TraningID }}
                    </div>
                    <div id="detailText">
                        {{ item.StartDate | date: 'dd.MM.yyyy hh.mm' }}
                    </div>
                    <div id="detailText" ng-hide="{{item.IsCompleted}}">
                        W trakcie
                    </div>
                    <div id="detailText">
                        {{ item.EndDate | date: 'dd.MM.yyyy hh.mm'}}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="inputButto" ng-click="showDeleted = ! showDeleted" ng-show="!showDeleted">
        POKAZ USUNIETE
    </div>
    <div id="inputButto" ng-click="showDeleted = ! showDeleted" ng-show="showDeleted">
        UKRYJ USUNIETE
    </div>

    <div id="simpleRow" ng-show="showDeleted">
        <div id="mainText">
            Uzytkowanicy usunieci
        </div>
        <div ng-repeat="person in DeletePeople">

            <div id="simpleRow">
                <div id="mainText">
                    {{ person.Name }}
                </div>
            </div>
            <div id="simpleRow">
                <div id="detailText">
                    {{ person.RegistrationDate | date: 'dd.MM.yyyy hh.mm' }}
                </div>
                <div id="detailText">
                    {{ person.DeletedDate | date: 'dd.MM.yyyy hh.mm' }}
                </div>
                <div id="detailText">
                    {{ person.DeletedUserID }}
                </div>
            </div>
        </div>
    </div>
</div>
