<div ng-app="" ng-controller="adminUsersController" id="users">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>

    <h3>UŻYTKOWNICY AKTYWNI</h3>

    <div class="row">
        <div class="col-xs-12">
            <div class="display-table">
                <div class="display-table-header-group">
                    <div class="display-table-row">
                        <div>NAZWA UŻYTKOWNIKA</div>
                        <div>ADRES E-MAIL</div>
                        <div>ROLA</div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="display-table-row-group" ng-repeat="person in viewModel.People">
                    <div class="display-table-row">
                        <div>{{ person.DisplayName }}</div>
                        <div>{{ person.Email }}</div>
                        <div>{{ person.ProfileName }}</div>
                        <div><button class="glyphicon glyphicon-pencil squared-btn empty-green-button" ng-click="showEdit(person)"></button></div>
                        <div>
                            <button class="glyphicon glyphicon-chevron-down squared-btn empty-green-button" ng-click="showInfo = ! showInfo" ng-hide="showInfo"></button>
                            <button class="glyphicon glyphicon-chevron-up squared-btn empty-green-button" ng-click="showInfo = ! showInfo" ng-show="showInfo"></button>
                        </div>
                        <div><button class="glyphicon glyphicon-remove squared-btn empty-purple-button" ng-click="delete(person)"></button></div>
                    </div>
                    <div class="display-table-row green-labels details-row" ng-show="showInfo">
                        <div>LOGIN</div>
                        @*<div>ID</div>*@
                        <div>REJESTRACJA</div>
                        <div>STATUS</div>
                    </div>
                    <div class="display-table-row details-row" ng-show="showInfo">
                        <div>{{ person.ProfileName }}</div>
                        @*<div>{{ item.Id }}</div>*@
                        <div>{{ person.RegistrationDate | date: 'dd.MM.yyyy HH.mm' }}</div>
                        <div>{{ person.selectedStatus }}</div>
                    </div>
                    <div class="display-table-row blue-labels details-row" ng-show="showInfo">
                        <div>W GRUPACH</div>
                        <div>OSTATNIA AKTYWNOŚĆ</div>
                        <div>SZKOLENIA ({{ person.TrainingNumber }})</div>
                    </div>
                    <div class="display-table-row details-row" ng-show="showInfo">
                        <div ng-show="!!person.AssignedGroups && person.AssignedGroups.length > 0">
                            <span ng-repeat="group in person.AssignedGroups">
                                {{ group.GroupName }} {{$last ? '' : ', '}}
                            </span> 
                        </div>
                        <span ng-show="!person.AssignedGroups || person.AssignedGroups.length == 0"> -  </span>
                        <div>{{ person.LastActivationDate | date: 'dd.MM.yyyy HH.mm' }}</div>
                        <div ng-show="!!person.AssignedTrainings && person.AssignedTrainings.length > 0">
                            <button class="btn table-btn empty-blue-button" ng-click="showDetails = ! showDetails" ng-show="!showDetails">
                                POKAŻ
                            </button>
                            <button class="btn table-btn empty-blue-button" ng-click="showDetails = ! showDetails" ng-show="showDetails">
                                UKRYJ
                            </button>
                        </div>
                    </div>
                    <div class="display-table-row blue-labels trainings-details-row" ng-show="showDetails">
                        <div>NAZWA SZKOLENIA</div>
                        <div>START - KONIEC</div>
                        <div>PUNKTY</div>
                    </div>
                    <div class="display-table-row trainings-details-row" ng-repeat="item in person.AssignedTrainings" ng-show="showDetails">
                        <div>
                            {{ item.Name }}
                        </div>
                        <div>
                            {{ item.StartDate | date: 'dd.MM.yyyy HH.mm' }} - {{ item.EndDate | date: 'dd.MM.yyyy HH.mm'}}
                        </div>
                        @*<div id="detailText" ng-hide="{{item.IsCompleted}}">W trakcie</div>*@
                        <div ng-show="{{item.IsCompleted}}">
                            {{ item.Rating }} / {{ item.PossibleRate }} - {{ (item.Rating * 100 / item.PossibleRate) | number : 0 }} %
                        </div>
                    </div>
                    <div class="display-table-row trainings-details-row" ng-show="showDetails">
                        <div>
                            <button class="btn table-btn empty-blue-button" ng-click="getTrainings(person)">KOLEJNE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="buttons clearfix">
                <div>
                    <button class="btn btn-m empty-green-button" ng-click="getUsers()">POKAŻ KOLEJNYCH</button>
                </div>
                <div ng-show="!!viewModel.DeletedPeople && viewModel.DeletedPeople.length > 0">
                    <button class="btn btn-m empty-green-button" ng-click="showDeleted = ! showDeleted" ng-show="!showDeleted">
                        POKAŻ USUNIĘTYCH
                    </button>
                    <button class="btn btn-m empty-green-button" ng-click="showDeleted = ! showDeleted" ng-show="showDeleted">
                        UKRYJ USUNIĘTYCH
                    </button>
                </div>
            </div>
            <div class="deleted-users" ng-show="showDeleted">
                <div>
                    <h3>UŻYTKOWNICY USUNIĘCI</h3>
                </div>
                <div class="display-table">
                    <div class="green-labels display-table-row">
                        <div>NAZWA UŻYTKOWNIKA</div>
                        <div>REJESTRACJA</div>
                        <div>USUNIĘCIE</div>
                        <div>PRZEZ</div>
                    </div>

                    <div class="display-table-row" ng-repeat="person in viewModel.DeletedPeople">
                        <div>
                            {{ person.DisplayName }}
                        </div>
                        <div>
                            {{ person.RegistrationDate | date: 'dd.MM.yyyy HH.mm' }}
                        </div>
                        <div>
                            {{ person.DeletedDate | date: 'dd.MM.yyyy HH.mm' }}
                        </div>
                        <div>
                            {{ person.DeletedUserID }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
        <div class="display-table">
            <div class="display-table-header-group">
                <div class="display-table-row">
                    <div>NAZWA UŻYTKOWNIKA</div>
                    <div>ADRES E-MAIL</div>
                    <div>ROLA</div>
                    <div>STATUS</div>
                    <div>EDYTUJ</div>
                    <div>USUŃ</div>
                </div>
            </div>
            <div class="display-table-row-group" ng-repeat="person in viewModel.People">
                <div class="display-table-row">
                    <div>{{ person.DisplayName }}</div>
                    <div>{{ person.Email }}</div>
                    <div>{{ person.ProfileName }}</div>
                    <div>{{ person.selectedStatus }}</div>
                    <div><button class="glyphicon glyphicon-pencil squared-btn empty-green-button" ng-hide="person.isEditable" ng-click="showEdit(person)"></button></div>
                    <div><button class="glyphicon glyphicon-remove squared-btn empty-purple-button" ng-hide="person.isEditable" ng-click="delete(person)"></button></div>
                </div>
                <div class="display-table-row clearfix dashed-border">
                    <div class="clearfix">
                        <div><input class="form-control" type="text" id="mainInput" name="person.DisplayName" ng-model="person.DisplayName" ng-show="person.isEditable"></div>
                        <div></div>
                        <div><button class="btn btn-input-s green-button" ng-show="person.isEditable" ng-click="save(person)">ZATWIERDŹ ZMIANY</button></div>
                    </div>
                    <div class="clearfix">
                        <div><input class="form-control" type="text" id="mainInput" name="person.Email" ng-model="person.Email" ng-show="person.isEditable"></div>
                        <div>
                            <select class="select-m select-green form-control" ng-model="person.selectedStatus" ng-options="c for c in availableStatus" ng-show="person.isEditable" ng-change="changeStatus(person)">
                                <option value="">{{ person.Status.Name }}</option>
                            </select>
                        </div>
                        <div><button class="btn table-btn empty-green-button" ng-show="person.isEditable" ng-click="cancel(person)">ANULUJ</button></div>
                    </div>
                </div>

                <div class="display-table-row labels">
                    <div>LOGIN</div>
                    <div>ID</div>
                    <div>REJESTRACJA</div>
                    <div>OSTATNIA AKTYWNOŚĆ</div>
                    <div>W GRUPACH</div>
                </div>
                <div class="display-table-row">
                    <div>{{ person.ProfileName }}</div>
                    <div>{{ item.Id }}</div>
                    <div>{{ person.RegistrationDate | date: 'dd.MM.yyyy HH.mm' }}</div>
                    <div>{{ person.LastActivationDate | date: 'dd.MM.yyyy HH.mm' }}</div>
                    <div>
                        <span ng-repeat="group in person.AssignedGroups"></span>{{ group.GroupName }},
                    </div>
                </div>

                <div class="display-table-row labels">
                    <div>SZKOLENIA ({{ person.TrainingNumber }})</div>
                </div>
                <div class="display-table-row">
                    <div>
                        <button class="btn table-btn empty-blue-button" ng-click="showDetails = ! showDetails" ng-show="!showDetails">
                            POKAŻ
                        </button>
                        <button class="btn table-btn empty-blue-button" ng-click="showDetails = ! showDetails" ng-show="showDetails">
                            UKRYJ
                        </button>
                    </div>
                </div>
                <div class="labels display-table-row">
                    <div>NAZWA SZKOLENIA</div>
                    <div>START</div>
                    <div>KONIEC</div>
                    <div>PUNKTY</div>
                </div>
                <div class="display-table-row" ng-repeat="item in person.AssignedTrainings" ng-show="showDetails">
                    <div id="detailText">
                        {{ item.Id }}
                        NAZWA
                    </div>
                    <div id="detailText">
                        {{ item.StartDate | date: 'dd.MM.yyyy HH.mm' }}
                    </div>
                    <div id="detailText" ng-hide="{{item.IsCompleted}}">W trakcie</div>
                    <div id="detailText">
                        {{ item.EndDate | date: 'dd.MM.yyyy HH.mm'}}
                    </div>
                    <div ng-show="{{item.IsCompleted}}">
                        {{item.Result}}
                    </div>
                </div>
                <div class="display-table-row">
                    <button class="btn table-btn empty-blue-button">KOLEJNE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons clearfix">
        <div>
            <button class="btn btn-m empty-green-button">POKAŻ KOLEJNYCH</button>
        </div>
        <div>
            <button class="btn btn-m empty-green-button" ng-click="showDeleted = ! showDeleted" ng-show="!showDeleted">
                POKAŻ USUNIĘTYCH
            </button>
            <button class="btn btn-m empty-green-button" ng-click="showDeleted = ! showDeleted" ng-show="showDeleted">
                UKRYJ USUNIĘTYCH
            </button>
        </div>
    </div>
    <div class="deleted-users" ng-show="showDeleted">
        <div>
            <h3>UŻYTKOWNICY USUNIĘCI</h3>
        </div>
        <div class="display-table">
            <div class="labels display-table-row">
                <div>NAZWA UŻYTKOWNIKA</div>
                <div>REJESTRACJA</div>
                <div>USUNIĘCIE</div>
                <div>PRZEZ</div>
            </div>

            <div class="display-table-row" ng-repeat="person in viewModel.DeletedPeople">
                <div>
                    {{ person.DisplayName }}
                </div>
                <div>
                    {{ person.RegistrationDate | date: 'dd.MM.yyyy HH.mm' }}
                </div>
                <div>
                    {{ person.DeletedDate | date: 'dd.MM.yyyy HH.mm' }}
                </div>
                <div>
                    {{ person.DeletedUserID }}
                </div>
            </div>
        </div>
    </div>*@
@*<div ng-repeat="person in viewModel.People">*@




@*<div class="row">
        <div id="mainText" ng-hide="person.isEditable">
            {{ person.DisplayName }}
        </div>
        <input type="text" id="mainInput" name="person.DisplayName" ng-model="person.DisplayName" ng-show="person.isEditable">
        <button ng-hide="person.isEditable" ng-click="delete(person)">
            USUN
        </button>
        <button  ng-hide="person.isEditable" ng-click="showEdit(person)">
            EDYCJA
        </button>
        <button  ng-show="person.isEditable" ng-click="save(person)">
            ZAPISZ
        </button>
        <button ng-show="person.isEditable" ng-click="cancel(person)">
            ANULUJ ZMIANY
        </button>
    </div>*@
@*<div class="row">
        <div id="detailText" ng-hide="person.isEditable">
            {{ person.Email }}
        </div>
        <input type="text" id="mainInput" name="person.Email" ng-model="person.Email" ng-show="person.isEditable">
        <div id="detailText" ng-hide="person.isEditable">
            {{ person.selectedStatus }}
        </div>
        <select ng-model="person.selectedStatus" ng-options="c for c in availableStatus" ng-show="person.isEditable" ng-change="changeStatus(person)">
            @*<option value="">{{ person.Status.Name }}</option>
        </select>

        <select ng-model="person.ProfileName" ng-options="c for c in availableProfiles" ng-show="person.isEditable" ng-change="changeProfile(person)">
            @*<option value="">{{ person.Status.Name }}</option>
        </select>
        <div id="detailText">
            {{ person.RegistrationDate | date: 'dd.MM.yyyy HH.mm' }}
        </div>
        <div id="detailText">
            {{ person.LastActivationDate | date: 'dd.MM.yyyy HH.mm' }}
        </div>
        <div id="detailText">
            {{ person.ProfileName }}
        </div>
        <div id="detailText">

            <div ng-repeat="group in person.AssignedGroups">
                {{ group.GroupName }} ,
            </div>
        </div>
        <div id="detailText">
            {{ person.UserName }}
        </div>
    </div>*@
@*<div class="row">
        <div id="mainText">
            Kursy ({{ person.TrainingNumber }})
        </div>
        <button ng-click="showDetails = ! showDetails" ng-show="!showDetails">
            POKAZ
        </button>
        <button ng-click="showDetails = ! showDetails" ng-show="showDetails">
            UKRYJ
        </button>
    </div>

    <div class="row" ng-show="showDetails">
        <div ng-repeat="item in person.AssignedTrainings">
            <div class="row">
                <div id="detailText">
                    {{ item.Id }}
                </div>
                <div id="detailText">
                    {{ item.StartDate | date: 'dd.MM.yyyy HH.mm' }}
                </div>
                <div id="detailText" ng-hide="{{item.IsCompleted}}">
                    W trakcie
                </div>
                <div id="detailText">
                    {{ item.EndDate | date: 'dd.MM.yyyy HH.mm'}}
                </div>
                <div ng-show="{{item.IsCompleted}}">
                    {{item.Result}}
                </div>
            </div>
        </div>
    </div>*@

@*</div>*@
@*<button  ng-click="showDeleted = ! showDeleted" ng-show="!showDeleted">
        POKAZ USUNIETE
    </button>
    <button  ng-click="showDeleted = ! showDeleted" ng-show="showDeleted">
        UKRYJ USUNIETE
    </button>

    <div class="row" ng-show="showDeleted">
        <div id="mainText">
            Uzytkowanicy usunieci
        </div>
        <div ng-repeat="person in viewModel.DeletedPeople">

            <div class="row">
                <div id="mainText">
                    {{ person.DisplayName }}
                </div>
            </div>
            <div class="row">
                <div id="detailText">
                    {{ person.RegistrationDate | date: 'dd.MM.yyyy HH.mm' }}
                </div>
                <div id="detailText">
                    {{ person.DeletedDate | date: 'dd.MM.yyyy HH.mm' }}
                </div>
                <div id="detailText">
                    {{ person.DeletedUserID }}
                </div>
            </div>
        </div>
    </div>*@

@Styles.Render("~/Users")
