<div ng-app="" ng-controller="creatorAddTrainingController" class="container">

    <strong class="error">{{ error }}</strong>

    <div id="simpleRow">
        INFORMACJE O SZKOLENIU
    </div>

    <div id="simpleRow">
        *Utworzenie szkolenia nie jest trudne, ale jesli robisz to pierwszy raz lub chcesz przypomniec sobie caly proces skorzystaj z przewodnika z zakladce jak stworzyc szkolenia
    </div>

    <div id="simpleRow">
        NAZWA SZKOLENIA
        <input type="text" />
    </div>

    <div id="simpleRow">
        OPIS SZKOLENIA
        <input type="text" />
    </div>

    <div id="simpleRow">
        Grafika obrazujaca szkolenie [400 x 300px i nie wieksza niz 350kb]
        <div id="inputButto" ng-click="loadImage()">
            Wczytaj
        </div>
    </div>

    <div id="simpleRow">
        *Nie przejmuj sie, nie misisz dodawac zadnej grafiki! Jesli nie dodasz zadnej grafiki zostanie uzyta grafika domyslna
    </div>

    <div id="simpleRow">
        Ile procent punktow jest niezbednych do zaliczenia Twojego szkolenia?
    </div>

    <div id="simpleRow">
        *Domyslnie ustalilismy 80% ale mozesz zmienic wartosc wybierajac inna możliwosc
    </div>

    <div id="simpleRow">
        <input type="radio" name="passResult" />100% 
        <input type="radio" name="passResult" />80% 
        <input type="radio" name="passResult" />65% 
        <input type="radio" name="passResult" />50% 
    </div>

    <div id="simpleRow">
        Komunikat, ktory zobacza uzytkownicy ktorzy zalicza kurs (osiagna wymagana liczbe punktow) Przykladowy komunikat "W wyniku szkolenia zdobyles wiedze na temat procedury/produktu"
    </div>

    <div id="simpleRow">
        <input type="text" />
    </div>

    <div id="simpleRow">
        I na koniec wybierz oznake ktora otrzyma uzytkownik, ktory ukonczy z powodzeniem to szkolenie
    </div>

    <div id="simpleRow">
        Wczytaj wlasna [musi byc 100px na 100px i nie wiekszy niz 150kb] lub wybierz ktoras z przygotowanych przez nas!
    </div>

    <div id="simpleRow">
        <div id="inputButto" ng-click="loadIcon()">
           Wgraj wlasna 
        </div>
        <div id="inputButto" ng-click="showIcon()">
            Wybierz z listy
        </div>
    </div>

    <div id="simpleRow">
        ZAWARTOSC SZKOLENIA
    </div>



</div>
