<div class="row">
    <div class="col-md-12">
        <div ng-show="!!errorMessage">{{ errorMessage }}</div>
        <div ng-switch="options">
            <label ng-switch-when="IMAGE">Wczytaj grafike lub upusc ja na pole obok lub podaj link</label>
            <label ng-switch-when="MOVIE">Wczytaj film przerzuć i upuść go w polu obok lub podaj link</label>
            <div class="col-md-12">
                <input type="file"
                       class="upload-input upload-file"
                       onchange="angular.element(this).scope().upload(this)"
                       name="uploadFiles">
            </div>
            <div class="col-md-12" ng-switch-when="IMAGE">
                <label>Podaj link:</label> <input type="text" ng-model="model.ExternalResource" ng-blur="change()">
            </div>
            <div class="col-md-12" ng-switch-when="MOVIE">
                <label>Podaj link YT lub vimeo:</label> <input type="text" ng-model="model.ExternalResource" ng-blur="change()">
            </div>
            <div class="col-md-12">
                {{fileName || ''}}
            </div>
            <div class='statusBar'><div></div></div>
        </div>
        <div class="col-md-12">
            <img ng-show="!fileSrc && !model.ExternalResource" src="{{ options == 'IMAGE' ? '../Assets/Image/drag-drop-image.png' : '../Assets/Image/drag-drop-video.png' }}" class="empty-image" />
            <img ng-show="options == 'IMAGE' && !!fileSrc" src="{{fileSrc || '../Assets/Image/empty.png' }}" class="filled-image" width="200px" height="200px" />
            <div ng-show="options == 'MOVIE' && !!fileSrc" id="{{videoId}}" width="200px" height="200px">
                Ładuję plik wideo.
            </div>
            <div ng-if="options == 'MOVIE' && model.ExternalResource">
                <iframe ng-if="model.ExternalResource.indexOf('youtu') !=-1" width="560" height="315" src="{{getUrl(model.ExternalResource)}}" frameborder="0" allowfullscreen></iframe>
                <iframe ng-if="model.ExternalResource.indexOf('player.vimeo.com') !=-1" src="{{getUrl(model.ExternalResource)}}" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <img ng-show="options == 'IMAGE' && !fileSrc && model.ExternalResource" src="{{model.ExternalResource || '../Assets/Image/empty.png' }}" class="filled-image" width="200px" height="200px" />
        </div>
    </div>
</div>