<div ng-repeat="item in collection">
    <div class="row">
        <div class="col-md-10">
            <div ng-show="item.ResourceType == 0">
                <div class="row" ng-hide="item.isEdit" ng-bind-html="item.Text"></div>
                <div class="row" ng-show="item.isEdit">
                    <textarea name="item.Text" froala="options" ng-model="item.Text"></textarea>
                </div>
            </div>
            <div ng-show="item.ResourceType == 1">
                <div class="row">
                    <div class="row">
                        <img src="{{item.InternalResource || item.ExternalResource}}" width="300" height="200" />
                    </div>
                </div>
            </div>
            <div ng-show="item.ResourceType == 2">
                <div class="row">
                    Dodany plik wideo : {{item.Name}}
                    <div ng-if="item.InternalResource">
                        <ng-jw-player setup='{ "file": "{{item.InternalResource}}" }'></ng-jw-player>
                    </div>
                    <div ng-if="item.ExternalResource">
                        <iframe ng-if="item.ExternalResource.indexOf('youtu') !=-1" width="560" height="315" src="{{getUrl(item.ExternalResource)}}" frameborder="0" allowfullscreen></iframe>
                        <iframe ng-if="item.ExternalResource.indexOf('player.vimeo.com') !=-1" src="{{getUrl(item.ExternalResource)}}" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div ng-show="item.ResourceType == 3">
                <div class="row">
                    Dodany plik prezentacji : {{item.Name}}
                    <iframe ng-if="item.InternalResource" src="{{getPresentationUrl(item.InternalResource)}}" style="width:600px; height:500px;" frameborder="0"></iframe>
                </div>
            </div>
            <div ng-show="item.ResourceType == 4">
                <div class="row">
                    Dodany plik : {{item.Name}}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="inputButto" ng-click="up(item)">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </div>
            <div id="inputButto" ng-click="down(item)">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </div>
            <div id="inputButto" ng-click="edit(item)">
                <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <div id="inputButto" ng-click="delete(item)">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
    </div>
    

    <div class="row">
        <button id="inputButto" ng-click="save(item)" ng-show="item.isEdit">
            ZAPISZ
        </button>
        <button id="inputButto" ng-click="cancel(item)" ng-show="item.isEdit">
            ANULUJ
        </button>
    </div>
</div>
