<div ng-repeat="item in collection">
    <div id="simpleRow">
        <div id="inputButto" ng-click="up(item)">
            UP
        </div>
        <div id="inputButto" ng-click="down(item)">
            DOWN
        </div>
        <div id="inputButto" ng-click="edit(item)">
            EDIT
        </div>
        <div id="inputButto" ng-click="delete(item)">
            REMOVE
        </div>
    </div>

    <div class="row" ng-show="item.ResourceType == 0">
        <div id="simpleRow" ng-hide="item.isEdit" ng-bind-html="item.Text"></div>
        <div id="simpleRow" ng-show="item.isEdit">
            <textarea name="item.Text" froala="options" ng-model="item.Text"></textarea>
        </div>
    </div>
    <div ng-show="item.ResourceType == 1">
        <div id="simpleRow">
            <div id="simpleRow">
                <img src="{{item.InternalResource}}" width="300" height="200" />
            </div>
        </div>
    </div>
    <div ng-show="item.ResourceType == 2">
        <div id="simpleRow">
            Dodany plik wideo : {{item.Name}}
        </div>
    </div>
    <div ng-show="item.ResourceType == 3">
        <div id="simpleRow">
            Dodany plik prezentacji : {{item.Name}}
        </div>
    </div>
    <div ng-show="item.ResourceType == 4">
        <div id="simpleRow">
            Dodany plik : {{item.Name}}
        </div>
    </div>

    <div class="row" id="simpleRow">
        <button id="inputButto" ng-click="save(item)" ng-show="item.isEdit">
            ZAPISZ
        </button>
        <button id="inputButto" ng-click="cancel(item)" ng-show="item.isEdit">
            ANULUJ
        </button>
    </div>
</div>
