<div class="row">
    <div class="col-md-2">
        <button id="simpleRow" ng-click="showTab(1)">
            TEKST
        </button>
    </div>
    <div class="col-md-2">
        <button id="simpleRow" ng-click="showTab(2)">
            GRAFIKA
        </button>
    </div>
    <div class="col-md-2">
        <button id="simpleRow" ng-click="showTab(3)">
            VIDEO
        </button>
    </div>
    <div class="col-md-2">
        <button id="simpleRow" ng-click="showTab(4)">
            PREZENTACJA
        </button>
    </div>
    <div class="col-md-2">
        <button id="simpleRow" ng-click="showTab(5)">
            PLIK
        </button>
    </div>

    <div ng-training-text-editor obj="obj" ng-show="index  == 1"></div>
    <div ng-training-image-editor obj="obj" ng-show="index  == 2"></div>
    <div ng-training-media-editor obj="obj" ng-show="index  == 3"></div>
    <div ng-training-presentation-editor obj="obj" ng-show="index  == 4"></div>
    <div ng-training-file-editor obj="obj" ng-show="index  == 5"></div>
</div>