<div class="row">
    <div class="col-md-12">
        <div ng-switch="options">
            <label ng-switch-when="FILE">Wgraj plik:</label>
            <label ng-switch-when="PRESENTATION">Wgraj prezentacje (ppt, pptx, pdf):</label>
            <div>
                <input type="file"
                       class="upload-input upload-file"
                       onchange="angular.element(this).scope().upload(this)"
                       name="uploadFiles">
            </div>
            <div>
                {{ fileName || 'Nie wybrano pliku' }}
            </div>
            <iframe ng-show="!!fileName && options === 'PRESENTATION' " src="{{getUrl(model.InternalResource)}}" style="width:600px; height:500px;" frameborder="0"></iframe>
            <div class='statusBar'><div></div></div>
        </div>
    </div>
</div>
