<div class="row">
    <div class="col-md-12">
        <div ng-switch="options">
            <label ng-switch-when="FILE">Wgraj plik:</label>
            <label ng-switch-when="PRESENTATION">Wgraj prezentacje (ppt, pptx, pdf):</label>
            <div>
                <input id="upload-input"
                       type="file"
                       class="upload-file"
                       onchange="angular.element(this).scope().upload(this)"
                       name="uploadFiles">
            </div>
            <div>
                {{ fileName || 'Nie wybrano pliku' }}
            </div>
            <div class='statusBar'><div></div></div>
        </div>
    </div>
</div>
