<div class="forgot-password-container" ng-form="resetFrm">
    <div class="login-message center" ng-show="errorMessage">{{ errorMessage }}</div>
    <div class="resetFrm." ng-show="emailBlured && (resetFrm.Email.$error.required || resetFrm.Email.$error.email)">Podaj adres e­mail przypisany do konta!</div>
    <div class="resetFrm." ng-show="loginBlured && resetFrm.Login.$error.required">Podaj swój login!</div>
    <h1>AKTYWUJ ZMIANĘ HASŁA</h1>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="txt-xl">
                By aktywować zmianę hasła, podaj swój login i
                adres e-mail przypisany do konta. Pod ten adres
                zostanie wysłana wiadomość z linkiem
                aktywacyjnym, który pozwoli Ci przejść do
                wyznaczenia nowego hasła.
            </div>
        </div>
    </div>
    <div class="form">
        <div class="row login-form-row">
            <div class="col-md-4 col-md-offset-4 login-input">
                <input class="input-xl form-control" type="text" name="Login" placeholder="Login" ng-model="resetForm.UserName" ng-blur="loginBlured = true;" required />
            </div>
        </div>
        <div class="row login-form-row">
            <div class="col-md-4 col-md-offset-4 email-input">
                <input class="input-xl form-control" type="email" name="Email" placeholder="E-mail" ng-model="resetForm.Email" ng-blur="emailBlured = true;" required />
            </div>
            <div class="col-md-4 form-cloud txt-m">
                <img src="~/Content/Images/tooltip-prompt.png">
                <p>
                    Jeśli nie pamiętasz swojego loginu lub
                    adresu e-mail przypisanego do konta,
                    skontaktuj się z administratorem
                    zespołu, do którego należysz.
                </p>
            </div>
        </div>
        <div class="row login-form-row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn-xl btn green-button" ng-disabled="resetFrm.$invalid" ng-click="resetPassword()">ZMIEŃ HASŁO</button>
            </div>
        </div>
    </div>
</div>

    @Styles.Render("~/Login")


    @*<div class="login-container">
            <div class="login-message center" ng-show="errorMessage">{{errorMessage}}</div>
            <div class="form" ng-form="resetFrm">
                <div class="login-form-row"><label>Login:</label><input type="text" ng-model="resetForm.UserName" required /></div>
                <div class="login-form-row"><label>Email:</label><input type="text" ng-model="resetForm.Email" required /></div>
                <div class="login-form-row center"><div class="btn" ng-disabled="resetFrm.$invalid" ng-click="resetPassword()">Resetuj hasło</div></div>
                <div class="login-form-row center hint">*Jeżeli niepamiętasz loginu skontaktuj się z administratorem w twojej firmie</div>
            </div>
        </div>*@
