<div ng-app="" ng-controller="addTrainingController" >

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>

    <div class="row" id="simpleRow">
        <div class="col-md-12">
            <h2>INFORMACJE O SZKOLENIU</h2>
        </div>
    </div>

    <div class="row" id="simpleRow">
        <div class="col-md-12">
            *Utworzenie szkolenia nie jest trudne, ale jesli robisz to pierwszy raz lub chcesz przypomniec sobie caly proces skorzystaj z przewodnika z zakladce jak stworzyc szkolenia
        </div>
    </div>

    <div class="row" id="simpleRow">
        
        <div class="col-md-12">
            <label>NAZWA SZKOLENIA</label>
            <input type="text" name="viewModel.Current.Name" ng-model="viewModel.Current.Name" maxlength="140" />
        </div>
    </div>

    <div class="row" id="simpleRow">
        <div class="col-md-12">
            <label>
                OPIS SZKOLENIA
            </label>
            <input type="text" name="viewModel.Current.Description" ng-model="viewModel.Current.Description" maxlength="1500" />
        </div>
        
    </div>

    <div class="row" id="simpleRow">
        <div class="col-md-4">
            <label>
                Grafika obrazujaca szkolenie [400 x 300px i nie wieksza niz 350kb]
            </label>
            <input id="upload-input"
                   type="file"
                   class="upload-image"
                   onchange="angular.element(this).scope().loadImage(this)"
                   name="uploadImages">
        </div>
        <div class="col-md-8">
            <img src="{{viewModel.Current.TrainingResources}}" />
        </div>
        @*<div class="col-md-4">
            *Nie przejmuj sie, nie misisz dodawac zadnej grafiki! Jesli nie dodasz zadnej grafiki zostanie uzyta grafika domyslna
        </div>*@
    </div>

    <div class="row" id="simpleRow">
        <div class="col-md-6">
            <label>
                Ile procent punktow jest niezbednych do zaliczenia Twojego szkolenia?
            </label>
            <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="100" />100%
            <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="80" checked="checked" />80%
            <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="65" />65%
            <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="50" />50%
        </div>
        <div class="col-md-6">
            *Domyslnie ustalilismy 80% ale mozesz zmienic wartosc wybierajac inna możliwosc
        </div>
    </div>

    <div class="row" id="simpleRow">
        <div class="col-md-6">
            <label>Komunikat po zaliczeniu szkolenia</label>
            <input type="text" name="viewModel.Current.PassInfo" ng-model="viewModel.Current.PassInfo" maxlength="500" />
        </div>
        <div class="col-md-6">
            Przykladowy komunikat "W wyniku szkolenia zdobyles wiedze na temat procedury/produktu"
        </div>
    </div>

  

    <div class="row" id="simpleRow">
        <div class="col-md-12">
            <label>
                Odznaka zakończenia
            </label>
            <div class="row">
                <div class="col-md-6">
                    wczytaj własną
                    <input id="upload-input"
                           type="file"
                           class="upload-mark"
                           onchange="angular.element(this).scope().loadIcon(this)"
                           name="uploadMarks">
                </div>
                <div class="col-md-6">
                     [musi byc 100px na 100px i nie wiekszy niz 150kb] lub wybierz ktoras z przygotowanych przez nas!
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    lub 
                    <button id="inputButto" ng-click="showIcon()">
                        Wybierz z listy
                    </button>
                </div>

                <div class="col-md-6">
                    <img src="{{viewModel.Current.PassResources}}" />
                </div>
                </div>
            </div>
        </div>
    </div>





    <div class="row">
        <h2>ZAWARTOSC SZKOLENIA</h2>
    </div>

    <div class="row" ng-training-details-tab obj="viewModel.Details"></div>
    <div class="row" ng-training-edit-details collection="viewModel.Details"></div>

    <div id="simpleRow">
        PYTANIE W SZKOLENIU
    </div>

    <div ng-training-edit-question questions="viewModel.Questions"></div>
    <div ng-training-add-question questions="viewModel.Questions"></div>

    <div id="simpleRow">
        DOSTEPNOSC SZKOLENIA
    </div>
    <div id="simpleRow">
        <input type="checkbox" ng-model="viewModel.AvailableForAll" ng-disabled="viewModel.Organizations.length > 0" />Wszystkie firmy
    </div>
    <div> lub wybierz z list</div>
    <button ng-click="showOrganization()">WYBIERZ</button>
    <div>
        Wybrane firmy:
    </div>
    <div ng-repeat="item in viewModel.Organizations">
        {{item.Name}}  ,
    </div>
    <div id="simpleRow">
        <button ng-click="save()">
            ZAPISZ SZKOLENIE
        </button>
    </div>
</div>

@Styles.Render("~/Trainings")