<div ng-app="" ng-controller="createProtectorController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>

    <div class="row">
        WYBIERZ FIRME
        <select ng-model="selected" ng-options="c as c.Name for c in viewModel.NotAssigned" ng-change="changeOrganization(selected)">
            <option value="">Wybierz</option>
        </select>
    </div>

    <div>
        Nazwa opiekuna <input type="text" ng-model="viewModel.Protector.UserName" name="viewModel.Protector.UserName">

    </div>
    <div>
        Mail opiekuna <input type="text" ng-model="viewModel.Protector.Email" name="viewModel.Protector.Email">
    </div>
    <button ng-click="save()">UTWORZ</button>
</div>

