<div ng-app="" ng-controller="editProtectorController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>

    <div ng-repeat="item in viewModel.People">
        <div>
            {{ item.DisplayName}}
        </div>
        <div>
            {{ item.Organization.Name}}
        </div>
        <div>
            {{ item.RegistrationDate | date: 'dd.MM.yyyy HH.mm' }}
        </div>
        <input type="button" value="Zobacz szczegoly" ng-click="showDetails(item, false)" ng-show="item.showDetails" />
        <input type="button" value="Ukryj szczeogoly" ng-click="showDetails(item, true)" ng-hide="item.showDetails" />

        <div ng-hide="item.showDetails">
            <div>
                nazwa opiekuna :
                <input type="text" ng-model="item.DisplayName" name="item.DisplayName">
            </div>
            <div>
                Ostatnia aktywnosc : {{ item.LastActivationDate | date: 'dd.MM.yyyy HH.mm' }}
            </div>
            <div>
                Adres email :
                <input type="text" ng-model="item.Email" name="item.Email"> 
            </div>
            <button ng-click="save(item)">ZAPISZ ZMIANY</button>

            @*<div>
                Czy chcesz usunac opiekuna ?
                <button ng-click="delete(item)" >USUN</button>
            </div>*@
        </div>
    </div>
</div>
