
<div ng-app="" ng-controller="editTrainingController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>

    <div class="row">
        INFORMACJE O SZKOLENIU
    </div>

    <div class="row">
        NAZWA SZKOLENIA
        <input type="text" name="viewModel.Current.Name" ng-model="viewModel.Current.Name" maxlength="80" ng-blur="nameValidation = true" />
        <div ng-show="nameValidation">
            <div ng-show="!!viewModel.Current.Name && viewModel.Current.Name.length < 5"> Nazwa szkolenia musi zawierać miniumum 5 znaków!          </div>
            <div ng-show="!!viewModel.Current.Name && viewModel.Current.Name.length > 80"> Nazwa szkolenia może zawierać maksymalnie 80 znaków!         </div>
        </div>
    </div>

    <div class="row">
        OPIS SZKOLENIA
        <input type="text" name="viewModel.Current.Description" ng-model="viewModel.Current.Description" maxlength="1500" ng-blur="descriptionValidation = true" />
        <div ng-show="descriptionValidation">
            <div ng-show="!!viewModel.Current.Description && viewModel.Current.Description.length < 5"> Opis szkolenia musi zawierać miniumum 5 znaków!         </div>
            <div ng-show="!!viewModel.Current.Description && viewModel.Current.Description.length > 1500"> Opis szkolenia jest zbyt długi!         </div>
        </div>
    </div>

    <div class="row">
        Grafika obrazujaca szkolenie [400px x 300px i nie wieksza niz 350kb]:

        <input type="file"
               class="upload-input upload-image"
               onchange="angular.element(this).scope().loadImage(this)"
               name="uploadFiles">
        <div class='statusBar'><div></div></div>
    </div>
    <div class="row">
        <img src="{{viewModel.Current.TrainingResources}}"  />
        <button ng-click="remove(viewModel.Current.TrainingResources, true)" ng-show="!!viewModel.Current.TrainingResources && viewModel.Current.TrainingResources.length > 0 && viewModel.Current.TrainingResources !== 'Assets\\Image\\main_image.png'">Usuń</button>
        <div ng-show="!!imageMessage && imageMessage.length > 0">
            {{imageMessage}}
        </div>
    </div>

    <div class="row">
        Ile procent punktow jest niezbednych do zaliczenia Twojego szkolenia?
    </div>

    <div class="row">
        <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="100" />100%
        <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="80" />80%
        <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="65" />65%
        <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="50" />50%
    </div>

    <div class="row">
        Komunikat, ktory zobacza uzytkownicy ktorzy zalicza kurs (osiagna wymagana liczbe punktow)
    </div>

    <div class="row">
        <input type="text" name="viewModel.Current.PassInfo" ng-model="viewModel.Current.PassInfo" maxlength="500" ng-blur="passInfoValidation = true" />
        <div ng-show="passInfoValidation">
            <div ng-show="!!viewModel.Current.PassInfo && viewModel.Current.PassInfo.length < 5"> Komunikat po zaliczeniu szkolenia musi zawierać miniumum 5 znaków!          </div>
            <div ng-show="!!viewModel.Current.PassInfo && viewModel.Current.PassInfo.length > 500"> Komunikat po zaliczeniu szkolenia może zawierać maksymalnie 500 znaków!         </div>
        </div>
    </div>

    <div class="row">
        Odznaka za pozytywne zakonczenie kursu
    </div>

    <div class="row">
        <img src="{{viewModel.Current.PassResources}}" />

        <button ng-click="remove(viewModel.Current.PassResources, false)" ng-show="!!viewModel.Current.PassResources && viewModel.Current.PassResources.length > 0">Usuń</button>

        <div ng-show="!!markMessage && markMessage.length > 0">
            {{markMessage}}
        </div>
    </div>

    <div class="row">
        Jesli chcesz je zmienic wczytaj wlasna [musi byc 100px na 100px i nie wieksza niz 150kb] lub wybierz ktoras z przygotowanych przez nas!
    </div>

    <div class="row">
        <input type="file"
               class="upload-input upload-mark"
               onchange="angular.element(this).scope().loadIcon(this)"
               name="uploadFiles">
        <div class='statusBarMark'><div></div></div>
        <div id="inputButto" ng-click="showIcon()">
            Wybierz z listy
        </div>
    </div>

    <div class="row">
        DOSTEPNOSC SZKOLENIA
    </div>
    <div class="row">
        <input type="checkbox" ng-model="viewModel.AvailableForAll" ng-disabled="viewModel.Organizations.length > 0" />Wszystkie firmy
    </div>
    <div> lub wybierz z list</div>
    <button ng-click="showOrganization()">WYBIERZ</button>
    <div>
        Wybrane firmy:
    </div>
    <div ng-repeat="item in viewModel.Organizations">
        {{item.Name}}  ,
    </div>

    <div class="row">
        ZAWARTOSC SZKOLENIA
    </div>

    <div ng-training-details-tab obj="viewModel.Current.Details"></div>
    <div ng-training-edit-details collection="viewModel.Current.Details"></div>

    <div class="row">
        PYTANIE W SZKOLENIU
    </div>

    <div ng-training-edit-question questions="viewModel.Current.Questions"></div>
    <div ng-training-add-question questions="viewModel.Current.Questions"></div>

    <div class="row">
        <button ng-click="save()">
            ZAPISZ SZKOLENIE
        </button>
    </div>
</div>
