
<div ng-app="" ng-controller="editTrainingController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>

    <div id="simpleRow">
        INFORMACJE O SZKOLENIU
    </div>

    <div id="simpleRow">
        NAZWA SZKOLENIA
        <input type="text" name="viewModel.Current.Name" ng-model="viewModel.Current.Name" />
    </div>

    <div id="simpleRow">
        OPIS SZKOLENIA
        <input type="text" name="viewModel.Current.Description" ng-model="viewModel.Current.Description" />
    </div>

    <div id="simpleRow">
        Grafika obrazujaca szkolenie [400 x 300px i nie wieksza niz 350kb]: {{viewModel.Current.PassResources}}

        <input id="upload-input"
               type="file"
               class="upload-image"
               onchange="angular.element(this).scope().loadImage(this)"
               name="uploadFiles">
    </div>
    <div id="simpleRow">
        <img ng-src="{{viewModel.Current.TrainingResource}}" />
    </div>

    <div id="simpleRow">
        Ile procent punktow jest niezbednych do zaliczenia Twojego szkolenia?
    </div>

    <div id="simpleRow">
        <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="100" />100%
        <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="80" />80%
        <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="65" />65%
        <input type="radio" name="passResult" ng-model="viewModel.Current.PassResult" value="50" />50%
    </div>

    <div id="simpleRow">
        Komunikat, ktory zobacza uzytkownicy ktorzy zalicza kurs (osiagna wymagana liczbe punktow)
    </div>

    <div id="simpleRow">
        <input type="text" name="viewModel.Current.PassInfo" ng-model="viewModel.Current.PassInfo" />
    </div>

    <div id="simpleRow">
        Odznaka za pozytywne zakonczenie kursu
    </div>

    <div id="simpleRow">
        <img ng-src="{{viewModel.Current.PassResources}}" />
    </div>

    <div id="simpleRow">
        Jesli chcesz je zmienic wczytaj wlasna [musi byc 100px na 100px i nie wieksza niz 150kb] lub wybierz ktoras z przygotowanych przez nas!
    </div>

    <div id="simpleRow">
        <input id="upload-input"
               type="file"
               class="upload-mark"
               onchange="angular.element(this).scope().loadIcon(this)"
               name="uploadFiles">
        <div id="inputButto" ng-click="showIcon()">
            Wybierz z listy
        </div>
    </div>

    <div id="simpleRow">
        OKRESL DLA KOGO MA BYC WIDOCZNE SZKOLENIE
    </div>
    <div ng-repeat="item in viewModel.Current.Groups">
        <input type="checkbox" ng-model="item.selected" />{{item.Name}}
    </div>
    <div id="simpleRow">
        Jesli nie zaznaczysz zadnej grupy, kurs będzie widoczny tylko dla Ciebie
    </div>

    <div id="simpleRow">
        ZAWARTOSC SZKOLENIA
    </div>

    <div ng-training-details-tab obj="viewModel.Current.Details"></div>
    <div ng-training-edit-details collection="viewModel.Current.Details"></div>

    <div id="simpleRow">
        PYTANIE W SZKOLENIU
    </div>

    <div ng-training-edit-question questions="viewModel.Current.Questions"></div>
    <div ng-training-add-question questions="viewModel.Current.Questions"></div>

    <div id="simpleRow">
        <div id="inputButto" ng-click="save()">
            ZAPISZ ZMIANY W TYM SZKOLENIU
        </div>
    </div>
</div>
