<div ng-app="" ng-controller="editProtectorController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>

    <div ng-repeat="item in viewModel.People">
        <div>
            {{ item.UserName}}
        </div>
        <div>
            {{ item.Organization.Name}}
        </div>
        <div>
            {{ item.RegistrationDate | date: 'dd.MM.yyyy hh.mm' }}
        </div>
        <input type="button" value="Zobacz szczegoly" ng-click="showDetails(item, false)" ng-show="item.showDetails" />
        <input type="button" value="Ukryj szczeogoly" ng-click="showDetails(item, true)" ng-hide="item.showDetails" />

        <div ng-hide="item.showDetails">
            <div>
                nazwa opiekuna :
                <input type="text" ng-model="item.UserName" name="item.UserName">
                <input type="button" value="Edytuj" ng-click="save(item)" />
            </div>
            <div>
                Ostatnia aktywnosc : {{ item.LastActivationDate | date: 'dd.MM.yyyy hh.mm' }}
            </div>
            <div>
                Adres email :
                <input type="text" ng-model="item.Email" name="item.Email">
                <input type="button" value="Edytuj" ng-click="save(item)" />
            </div>
            <div>
                Czy chcesz usunac opiekuna ?
                <input type="button" value="Usun" ng-click="delete(item)" />
            </div>
        </div>
    </div>
</div>
