<div ng-app="" ng-controller="adminController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>


    <div ng-repeat="item in viewModel.People">
        <div>
            {{ item.UserName}}
        </div>
        <div>
            {{ item.LastActivationDate | date: 'dd.MM.yyyy hh.mm' }}
        </div>
        <div>
            {{ item.Email}}
        </div>


    </div>
</div>

