<div ng-app="" ng-controller="settingsController" class="container">

    <strong class="error">{{ error }}</strong>
    <strong class="error">{{ success }}</strong>

    <div>
        Przestrzeń dyskowa (w GB) 
        <input type="text" name="current.SpaceDisk" ng-model="current.SpaceDisk" />
    </div>
    <div>
        Maksymalna liczba użytkowników
        <input type="text" name="current.MaxAssignedUser" ng-model="current.MaxAssignedUser" />
    </div>
    <div>
        Domyślna nazwa opiekuna
        <input type="text" name="current." ng-model="current.DefaultName" />
    </div>
    <div>
        Domyślny mail opiekuna
        <input type="text" name="current." ng-model="current.DefaultEmail" />

    </div>
    <button ng-click="save(current)">Zapisz</button>
</div>
