<div ng-app="" ng-controller="settingsController" class="container">

    <strong class="error">{{ error }}</strong>

    <div>
        Przestrzeń dyskowa (w GB) 
        <input type="text" name="current.SpaceDisk" ng-model="current.SpaceDisk" />
        <button ng-click="save(current)">Edytuj</button>
    </div>
    <div>
        Maksymalna liczba użytkowników
        <input type="text" name="current.MaxAssignedUser" ng-model="current.MaxAssignedUser" />
        <button ng-click="save(current)">Edytuj</button>
    </div>
    <div>
        Domyślna nazwa opiekuna
        <input type="text" name="current." ng-model="current.DefaultName" />
        <button ng-click="save(current)">Edytuj</button>
    </div>
    <div>
        Domyślny mail opiekuna
        <input type="text" name="current." ng-model="current.DefaultEmail" />
        <button ng-click="save(current)">Edytuj</button>
    </div>

</div>
