<div ng-app="" ng-controller="historyController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>


    <div id="simpleRow">
        WYBIERZ TYP ZDARZENIA
        <select ng-model="selected" ng-options="c as c.Name for c in viewModel.Criteria" ng-change="change(selected)">
            <option value="">Wszystkie</option>
        </select>
    </div>
    <div ng-repeat="item in viewModel.DisplayLogs">
        <div id="simpleRow">
            <div ng-show="item.SystemType == 1">
                Utworzenie firmy
            </div>
            <div ng-show="item.SystemType == 1">
                {{ item.ModifiedDate | date: 'dd.MM.yyyy hh.mm'}}
            </div>
            <div ng-show="item.SystemType == 1">
                {{ item.ModifiedUser.UserName}}
            </div>
            <div ng-show="item.SystemType == 1">
                {{ item.OrganizationName}}
            </div>


            <div ng-show="item.SystemType == 2">
                Prosba o usunięcie firmy
            </div>
            <div ng-show="item.SystemType == 2">
                {{ item.ModifiedDate  | date: 'dd.MM.yyyy hh.mm'}}
            </div>
            <div ng-show="item.SystemType == 2">
                {{ item.ModifiedUser.UserName}}
            </div>
            <div ng-show="item.SystemType == 2">
                {{ item.OrganizationName}}
            </div>

            <div ng-show="item.SystemType == 3">
                Usunięcie firmy
            </div>
            <div ng-show="item.SystemType == 3">
                {{ item.ModifiedDate  | date: 'dd.MM.yyyy hh.mm'}}
            </div>
            <div ng-show="item.SystemType == 3">
                {{ item.ModifiedUser.UserName}}
            </div>
            <div ng-show="item.SystemType == 3">
                {{ item.OrganizationName}}
            </div>


            <div ng-show="item.SystemType == 4">
                Wysłanie zaproszenia do opiekuna
            </div>
            <div ng-show="item.SystemType == 4">
                {{ item.ModifiedDate  | date: 'dd.MM.yyyy hh.mm'}}
            </div>
            <div ng-show="item.SystemType == 4">
                {{ item.OrganizationName}}
            </div>
            <div ng-show="item.SystemType == 4">
                {{ item.ModifiedUser.UserName}}
            </div>


            <div ng-show="item.SystemType == 5">
                Utworzenie opiekuna
            </div>
            <div ng-show="item.SystemType == 5">
                {{ item.ModifiedDate  | date: 'dd.MM.yyyy hh.mm'}}
            </div>
            <div ng-show="item.SystemType == 5">
                {{ item.OrganizationName}}
            </div>
            <div ng-show="item.SystemType == 5">
                {{ item.ModifiedUser.UserName}}
            </div>


            <div ng-show="item.SystemType == 6">
                Logowanie do panelu systemowego
            </div>
            <div ng-show="item.SystemType == 6">
                {{ item.ModifiedDate | date: 'dd.MM.yyyy hh.mm'}}
            </div>
            <div ng-show="item.SystemType == 6">
                {{ item.ModifiedUser.UserName}}
            </div>


            <div ng-show="item.SystemType == 7">
                Wylogowanie z panelu systemowego
            </div>
            <div ng-show="item.SystemType == 7">
                {{ item.ModifiedDate  | date: 'dd.MM.yyyy hh.mm'}}
            </div>
            <div ng-show="item.SystemType == 7">
                {{ item.ModifiedUser.UserName}}
            </div>
        </div>
    </div>
</div>


