<div ng-app="" ng-controller="trainingInternalController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>

    <div ng-repeat="item in viewModel.InternalTrainings">
        <div>
            {{ item.Name}}
        </div>
        <div>
            {{ item.Id}}
        </div>
        <div>
            {{ item.Organization}}
        </div>
        <div>
            {{ item.CreatorName}}
        </div>
        <div>
            {{ item.CreatorLogin}}
        </div>
        <div>
            <div ng-repeat="group in item.AssignedGroup">
                {{group}} ,
            </div>
        </div>
        <div>
            {{ item.StartDate | date: 'dd.MM.yyyy HH.mm' }}
        </div>
        <div>
            {{ item.EndDate | date: 'dd.MM.yyyy HH.mm' }}
        </div>
    </div>


    <button ng-click="showMore()">Pokaz wiecej</button>
</div>

