<div ng-app="" ng-controller="organizationEditController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>


    <div ng-repeat="item in viewModel.Organizations">
        <div>
            {{ item.Name}}
        </div>
        <div>
            {{ item.CreateDate | date: 'dd.MM.yyyy hh.mm' }}
        </div>
        <div>
            {{ item.selectedStatus}}
        </div>
        <button id="inputButto" ng-click="showOrganizationDetails(item, true)" ng-hide="item.showDetails">
            Pokaz szczegoly
        </button>
        <button id="inputButto" ng-click="showOrganizationDetails(item, false)" ng-show="item.showDetails">
            Ukryj szczegoly
        </button>
        <div ng-show="item.showDetails">
            <div ng-show="item.Status == 1">

                <div>
                    Nazwa firmy :
                    <input type="text" name="item.Name" ng-model="item.NewName" /><button ng-click="changeName(item)">Edytuj Nazwę</button>
                </div>
                <div>
                    Osoby aktywne : {{ viewModel.Detail.AssignedUser}}
                </div>
                <div>
                    Uzytkownicy zablokowani : {{ viewModel.Detail.BlockedUser}}
                </div>
                <div>
                    Uzytkownicy usuniecie : {{ viewModel.Detail.DeleteUser}}
                </div>
                <div>
                    Zaproszenie oczekujaca : {{viewModel.Detail.InvationUser }}
                </div>
                <div>
                    Opiekun : {{ viewModel.Detail.Protector.Email}}
                </div>
                <div>
                    Wykorzystana przestrzen dyskowa : {{ viewModel.Detail.UsedSpaceDisk}}
                </div>
                <div>
                    Zmian status
                    <select ng-model="item.selectedStatus" ng-options="c for c in availableStatus" ng-change="changeStatus(item)"></select>
                </div>
                <div>
                    Przestrzen dyskowa (w GB)
                    <input type="text" name="item.SpaceDisk" ng-model="item.SpaceDisk" />
                </div>
                <div>
                    Dostęp do kursów globalnych
                    <input type="checkbox" name="item.IsGlobalAvailable" ng-model="item.IsGlobalAvailable" />
                </div>
                <div>
                    Czy nowe kursy globalne dla firmy automatycznie widoczne dla grupy 'wszyscy' w organizacji
                    <input type="checkbox" name="item.IsTrainingAvailableForAll" ng-model="item.IsTrainingAvailableForAll" />
                </div>
                <div>
                    Czy użytkownicy organizacji mogą zmienić swojego maila?
                    <input type="checkbox" name="item.CanUserChangeMail" ng-model="item.CanUserChangeMail" />
                </div>
                <div>
                    Czy użytkownicy organizacji mogą zmienić swoją nazwę wyświetlaną?
                    <input type="checkbox" name="item.CanUserChangeName" ng-model="item.CanUserChangeName" />
                </div>
                <div>
                    Maksymalna liczba użytkowników
                    <input type="text" name="item.MaxAssignedUser" ng-model="item.MaxAssignedUser" />
                </div>
                <div>
                    Czy chcesz usunąć ?
                    <button ng-click="delete(item)">USUN</button>
                </div>

            </div>
            <div ng-show="item.Status == 3">
                <div>
                    Nazwa firmy
                    {{item.Name}}
                </div>
                <div>
                    Data usunięcia
                    {{ item.DeletedDate | date: 'dd.MM.yyyy hh.mm' }}
                </div>
                <div>
                    Powód usunięcia :
                    {{ item.DeletedReason }}
                </div>

            </div>
            <div ng-show="item.Status == 2">
                <div>
                    Nazwa firmy
                    {{item.Name}}
                </div>
            </div>
        </div>


    </div>
</div>
