<div ng-app="" ng-controller="managerTrainingsController" class="container">

    <strong class="error">{{ viewModel.ErrorMessage }}</strong>
    <strong class="error">{{ viewModel.Success }}</strong>

    <div class="row">
        WYBIERZ SZKOLENIE
    </div>

    <div>
        <div>
            Nazwa szkolenia
        </div>
        <div>
            Tworca
        </div>
        <div>
            Data utworzenia
        </div>
        <div>
            Dostepne dla
        </div>
    </div>
    <div ng-repeat="item in viewModel.Trainings">
        <div>
            {{ item.Name}}
        </div>
        <div>
            {{ item.UserName}}
        </div>
        <div>
            {{ item.CreateDate | date: 'dd.MM.yyyy hh.mm' }}
        </div>
        <div>
            <div ng-repeat="grp in item.AssignedGroups">
                {{grp.Name}} ,
            </div>
        </div>
        <input type="button" value="Edytuj" ng-click="edit(item)" />

    </div>
</div>