<div ng-app="" ng-controller="protectorAppLogsController" class="container">

    <strong class="error">{{ error }}</strong>


    <div id="simpleRow">
        WYBIERZ TYP ZDARZENIA
        <select ng-model="selected" ng-options="c as c for c in OperationTypes" ng-change="change(selected)">
            <option value="">Wszystkie</option>
        </select>
    </div>
    <div ng-repeat="item in Logs">
        <div id="simpleRow">
            <div>
                {{ item.OperationDesc}}
            </div>
            <div ng-show="item.OperationType == 0">
                {{ item.Person.Name}}
            </div>
            <div ng-show="item.OperationType == 0">
                {{ item.Person.ProfileID}}
            </div>
            <div ng-show="item.OperationType == 0">
                {{ item.ModifiedUser.Name}}
            </div>

            <div ng-show="item.OperationType == 1">
                {{ item.Person.Name}}
            </div>

            <div ng-show="item.OperationType == 2">
                {{ item.Person.Name}}
            </div>
            <div ng-show="item.OperationType == 2">
                {{ item.ModifiedUser.Name}}
            </div>

            <div ng-show="item.OperationType == 3">
                {{ item.Training.CreateUserID}}
            </div>
            <div ng-show="item.OperationType == 3">
                {{ item.Training.Name}}
            </div>

            <div ng-show="item.OperationType == 4">
                {{ item.Person.Name}}
            </div>
            <div ng-show="item.OperationType == 4">
                {{ item.Person.Mail}}
            </div>

            <div ng-show="item.OperationType == 5">
                {{ item.Person.Name}}
            </div>
            <div ng-show="item.OperationType == 5">
                {{ item.ModifiedUserID}}
            </div>

            <div ng-show="item.OperationType == 6">
                {{ item.ModifiedUserID}}
            </div>
            <div ng-show="item.OperationType == 6">
                {{ item.ModifiedUserID.Name}}
            </div>
            <div ng-show="item.OperationType == 6">
                {{ item.Training.Name}}
            </div>
            <div ng-show="item.OperationType == 6">
                {{ item.Training.TrainingID}}
            </div>

            <div>
                {{ item.ModifiedDate | date: 'dd.MM.yyyy hh.mm' }}
            </div>
        </div>
    </div>
</div>

