<div id="logs" ng-app="" ng-controller="protectorAppLogsController" >

    <strong class="error">{{ error }}</strong>
    <strong class="error">{{ success }}</strong>


    <div class="select">
        typ zdarzenia
        <select class="form-control select-blue select-l" ng-model="selected" ng-options="c as c for c in OperationTypes" ng-change="change(selected)">
            <option value="">Wszystkie</option>
        </select>
    </div>
    <div class="display-table">
        <div class="display-table-row" ng-repeat="item in Logs">
            <div>
                {{ item.ModifiedDate | date: 'dd.MM.yyyy HH.mm' }}
            </div>
            <div>
                {{ item.OperationDesc}}
            </div>      
            <div ng-show="item.OperationType == 0">
                {{ item.Person.DisplayName}}
            </div>
            <div ng-show="item.OperationType == 0">
                {{ item.Person.ProfileID}}
            </div>
            <div ng-show="item.OperationType == 0">
                {{ item.ModifiedUser.DisplayName}}
            </div>

            <div ng-show="item.OperationType == 1">
                <label>UŻYTKOWNIK</label>
                <strong>{{ item.Person.DisplayName}}</strong>
                <span>{{ item.Person.Id}}</span>
            </div>

            <div ng-show="item.OperationType == 2">
                <label>UŻYTKOWNIK</label>
                <strong>{{ item.Person.DisplayName}}</strong>
                <span>{{ item.Person.Id}}</span>
            </div>
            <div ng-show="item.OperationType == 2">
                <label>UŻYTKOWNIK</label>
                <strong>{{ item.ModifiedUser.DisplayName}}</strong>
                <span>{{ item.ModifiedUser.Id}}</span>
            </div>

            <div ng-show="item.OperationType == 3">
                <label>SZKOLENIE</label>
                <strong>{{ item.Training.Name}}</strong>
                <span>{{ item.Training.TrainingID}}</span>
            </div>
            <div ng-show="item.OperationType == 3">
                <label>AUTOR</label>
                <strong>{{ item.Training.UserName}}</strong>
                <span>{{ item.Training.CreateUserID}}</span>
            </div>

            
            <div ng-show="item.OperationType == 4">
                <label>UŻYTKOWNIK</label>
                <strong>{{ item.Person.DisplayName}}</strong>
                <span>{{ item.Person.Id}}</span>
            </div>
            <div ng-show="item.OperationType == 4">
                <label>E-MAIL</label>
                @* czy powinno pokazywac 2 x email *@
                <strong>{{ item.Person.Mail}}</strong>
            </div>

            <div ng-show="item.OperationType == 5">
                <label>UŻYTKOWNIK</label>
                <strong>{{ item.Person.DisplayName}}</strong>
                <span>{{ item.Person.ID}}</span>
            </div>
            <div ng-show="item.OperationType == 5">
                <label>EDYTUJĄCY</label>
                <strong>{{ item.ModifiedUser.DisplayName}}</strong>
                <span>{{ item.ModifiedUserID}}</span>
            </div>

            <div ng-show="item.OperationType == 6">
                <label>SZKOLENIE</label>
                <strong>{{ item.Training.Name}}</strong>
                <span>{{ item.Training.TrainingID}}</span>
            </div>
            <div ng-show="item.OperationType == 6">
                <label>AUTOR</label>
                <strong>{{ item.Training.UserName}}</strong>
                <span>{{ item.Training.CreateUserID}}</span>
            </div>
            <div ng-show="item.OperationType == 6">
                <label>EDYTUJĄCY</label>
                <strong>{{ item.ModifiedUser.DisplayName}}</strong>
                <span>{{ item.ModifiedUserID}}</span>
            </div>

            

        </div>
    </div>
</div>



@Styles.Render("~/Logs")