#create-training{

}
#create-training .circle-pointer{
    border:2px solid #141932;
    border-radius:50%;
    color:#141932;
    width:40px;
    height:40px;
    float:left;
    text-align:center;    
    font-size:24px;
    margin-right:15px;
    margin-top:10px;
}
#create-training .italics{
    font-style:italic;
}
#create-training h3{
    text-align:left;
    padding-bottom:15px;
    border-bottom:1px solid #141932;
}
#create-training h4{
    text-align:left;
    display:table;
    min-height:40px;
    float:left;
}
#create-training h4 span{
    display:table-cell;
    vertical-align:middle;
}
#create-training .prompt{
    float:right;
}
#create-training .letter-counter{
    float:right;
    opacity:0.7;
}
#create-training .pass-training label{
    margin-right:50px;
}
#create-training .training-image img{
    max-width:250px;
    float:right;
}
#create-training .statusBarMark, #create-training .statusBar{
    height:20px;
    margin-top:10px;
    display:none;
}
#create-training .statusBarMark .progressBarMark, #create-training .statusBar .progressBar{
    height:20px;
    margin-top:10px;
    border:1px solid #0d223d;
}
#create-training .statusBarMark .progressBarMark div, #create-training .statusBar .progressBar div{
    background:#0d223d;
}
#create-training .badge-row .btn{
    width:100%;
}
#create-training .badge-row button.btn{
    margin-top:50px;
}
/*#create-training .add-content{
    width:145px;
    height:145px;
    position:relative;
    float:left;
    background:#3770dd;
    color:#fff;
}
#create-training .add-content:hover{
    background:#3a76ea;
}
#create-training .add-content:not(:last-child){
    margin-right:23px;
}
#create-training .add-content:before{
    content: "";
	display: block;
	padding-top: 100%;
}
#create-training .add-content div{
    position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    text-align:center;
    padding:20px;
}
#create-training .add-content div img{
    margin:auto;
    display:block;
}
#create-training .add-content div span{
    display:block;
    margin-top:15px;
}*/
#create-training .buttons{
    text-align:center;
    margin-top:15px;
}
#create-training .add-content{
    float:left;
    padding:7.5px;
    cursor:pointer;
    width:20%;
}

#create-training .content .buttons{
    text-align:center
}
#create-training .content .buttons div{
    margin-top:15px;
}
#create-training .content .buttons div:last-child, #create-training .content-item .buttons div:last-child,
#create-training .preview-question .buttons div:last-child{
    position:absolute;
    right:30px;  
}
#create-training .preview-question .new-answer{
    overflow:auto;
}

#create-training .drag-and-drop .empty-image{
    width:100%;
}

#create-training .add-question .points div, #create-training .preview-question .points div{
    padding-right:50px;
    padding-left:15px;
    float:left;
}
#create-training .add-question .points button{
    position:absolute;
    right:15px;
    bottom:0;
}
#create-training .preview-question .points button{
    position:absolute;
    right:0px;
}
#create-training .add-question .new-answer, #create-training .preview-question .new-answer{
    margin-top:15px;
}
#create-training .add-question .buttons #create-training .preview-question .buttons{
    text-align:center;
    margin-top:15px;
}
#create-training .add-question .radio-question .radio-answer label, #create-training .add-question .checkbox-question .checkbox-answer label,
#create-training .preview-question .radio-question .radio-answer label, #create-training .preview-question .checkbox-question .checkbox-answer label{
    float:left;
}
#create-training .add-question .radio-question .radio-answer div, #create-training .add-question .checkbox-question .checkbox-answer div,
#create-training .preview-question .radio-question .radio-answer div, #create-training .preview-question .checkbox-question .checkbox-answer div{
    padding-left:50px;
    padding-right:15px;
}
#create-training .add-question .radio-question, #create-training .add-question .checkbox-question,
#create-training .preview-question .radio-question, #create-training .preview-question .checkbox-question{
    border-bottom:none!important;
    padding:0!important;
}
#create-training .accessibility .item{
    float:left;
    margin-right:15px;
}
#create-training .content-item{
    margin-top:20px;
    margin-bottom:20px;
}
#create-training .content-item .text-item, #create-training .content-item .image-item, #create-training .content-item .video-item,
#create-training .content-item .presentation-item, #create-training .content-item .file-item{
    padding:15px;
    background:#fff;
    min-height:86px;
}
#create-training .content-item .image-item img{
    margin:auto;
    display:block;
}
#create-training .squared-btn{
    margin-bottom:10px!important;
    margin-left:5px!important; 
    margin-right:5px!important;
    margin-top:0px!important;
}

#create-training .content-item video{
    width:100%;
}
#create-training .content-item .file-item h5{
    float:left;
}
#create-training .content-item .file-item a{
    height:42px;
    display:table;
    float:left;
    margin-left:15px;
}
#create-training .content-item .file-item a>span{
    font-size:22px;
    display:table-cell;
    vertical-align:middle;
}
@media screen and (max-width: 1199px) AND (min-width: 992px) {
    /*#create-training .add-content{
        width:110px;
        height:110px;
    }
    #create-training .add-content:not(:last-child){
        margin-right:9px;
    }
    #create-training .add-content div{
        padding:15px;
    }
    #create-training .add-content div img{
        width:46px;
        height:46px;
    }*/
}
@media screen and (max-width: 768px) {
    #create-training .training-image >div:nth-child(2){
        float:left;
    }
    #create-training .training-image >div:nth-child(3){
        min-width:500px;
    }
    #create-training .training-image img{
        float:none;
    }
}
