#invite form button{
    width:100%;
}
#invite label{
    font-weight:300;
}
#invite .form-row>div{
    margin-bottom:15px;
}
#invite .display-table .display-table-row>div:last-child{
    width:50px;
}
#invite .labels{
    color:#009aaf;
}
#invite .main-labels div{
    border-bottom:1px solid #009aaf;
}
#invite .main-labels div:nth-child(5), #invite .main-labels div:nth-child(6){
    border-bottom:none;
    text-align:center
}
#invite .details-row{
    display:none;
}
#invite .basic-data div{
    border-bottom:1px solid #009aaf;
}
#invite .basic-data div:nth-child(5), #invite .basic-data div:nth-child(6){
    border-bottom:none;
    text-align:center;
}