.login-container {
    margin: auto;
    padding: 20px 40px;
    border: 1px solid #546c7e;
    display: inline-block;
}

.login-message {
    color: red;
    padding-bottom: 6px;
    max-width: 400px;
}

.login-form-row label {
    width: 100px;
    font-weight: bolder;
    padding-bottom: 6px;
}

.btn {
    display: inline-block;
    border: 1px solid #546c7e;
    background-color: #abbecc;
    padding: 4px 8px;
    color: #000;
    cursor: pointer;
}

.btn:hover {
    background-color: #899caa;
}

.center {
    text-align: center;
}

.hint {
    font-size: 0.7em;
}


.btn {
    display: inline-block;
    border: 1px solid #546c7e;
    background-color: #abbecc;
    padding: 4px 8px;
    color: #000;
    cursor: pointer;
}

.btn:hover {
    background-color: #899caa;
}

.center {
    text-align: center;
}

#spinner {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}

#spinner .spinner-background {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#spinner .spinner-icon-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
}

#spinner .spinner-cell {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#spinner .spinner-icon {
    width: 48px;
    height: 48px;
    background-image: url('../Assets/Image/ajax-loader.gif');
    margin: auto;
}
.error{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    background:#ff5a5a;
    min-height:50px;
    width:100%;
}
.error > div{
    display:table;
    height:100%;
}
.error img{
    float:right;
    cursor:pointer;
}
.success{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    background:#55ee99;
    min-height:50px;
    width:100%;
}
.success > div{
    display:table;
    height:100%;
}