<div class="navbar navbar-default navbar-left" role="navigation">

    <ul class="nav">
        <li><a href="/currentUser">{{currentUser.DisplayName}}</a></li>
        <li><a href="/createOrganization">UTWORZ FIRME</a></li>
        <li><a href="/organizationsList">LISTA FIRM</a></li>
        <li><a href="/globalSetting">USTAWIENIA GLOBALNE</a></li>
        <li><a href="/statistics">STATYSTYKI</a></li>
        <li><a href="/createTraning">UTWORZ SZKOLENIE</a></li>
        <li><a href="/editTraning">EDYTUJ SZKOLENIE</a></li>
        <li><a href="/createProtector">OPIEKUNOWIE - UTWORZ</a></li>
        <li><a href="/editProtector">OPIEKUNOWIE - EDYTUJ</a></li>
        <li><a href="/traningsList">LISTA SZKOLEN</a></li>
        <li><a href="/globalAdmins">ADMINISTRATORZY GLOBALNI</a></li>
        <li><a href="/history">HISTORA </a></li>
        <li><a href="/logoff">WYLOGUJ </a></li>
    </ul>
</div>