<div>
    <div ng-switch="options">
        <div ng-switch-when="IMAGE">Wczytaj grafike lub upusc ja na pole obok lub podaj link</div>
        <div ng-switch-when="MOVIE">Wczytaj film przerzuć i upuść go w polu obok lub podaj link</div>
        <div>
            <input id="upload-input" name="uploadFiles" type="file">
        </div>
        <div ng-switch-when="IMAGE">
            Podaj link: <input type="text">
        </div>
        <div ng-switch-when="MOVIE">
            Podaj link YT lub vimeo: <input type="text">
        </div>
        <div>
            {{fileName || 'Nie wybrano pliku'}}
        </div>
        <div class='statusBar'><div></div></div>
    </div>
    <div>
        <img ng-show="!fileSrc" src="{{ '../Assets/Image/empty.png' }}" width="200px" height="200px" />
        <img ng-if="options == 'IMAGE' && !!fileSrc" src="{{fileSrc || '../Assets/Image/empty.png' }}" width="200px" height="200px" />
        <video ng-if="options == 'MOVIE' && !!fileSrc" width="200px" height="200px" controls>
            <source src="{{fileSrc}}">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
