<div>
    <div>
        <div>Wczytaj grafike lub upusc ja na pole obok lub podaj link</div>
        <div>
            <input id="upload-input" multiple="multiple" name="uploadFiles" type="file">
        </div>
        <div>
            Podaj link: <input type="text" >
        </div>
        <div>
            {{fileName || 'Nie wybrano pliku'}}
        </div>
        <div class='statusBar'><div></div></div>
    </div>
    <div>
        <img src="{{fileSrc || '../Assets/Image/empty.png' }}" width="200px" height="200px" />
    </div>
</div>
