<div class="col-md-12">
        <div ng-show="!!errorMessage">{{ errorMessage }}</div>
    <div ng-switch="options">
        <div ng-switch-when="IMAGE">
            <h4>DODAJ GRAFIKĘ</h4>
            <h4>Wczytaj obraz z dysku, klikajac przycisk i wybierajac plik LUB przeciagajac go i upuszczajac w polu obok.</h4>
        </div>
        <div ng-switch-when="MOVIE">
            <h4>DODAJ WIDEO</h4>
            <div class="circle-pointer">A</div>
            <h4><span>Wczytaj wideo z dysku, klikajac przycisk i wybierajac plik LUB przeciagajac go i upuszczajac w polu obok.</span></h4>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <span class="btn navy-button btn-l btn-file">
                    WYBIERZ PLIK Z DYSKU
                    <input type="file"
                           class="upload-input upload-file"
                           onchange="angular.element(this).scope().upload(this)"
                           name="uploadFiles">
                </span>
                <h6>
                    {{fileName || ''}}
                </h6>
                <div class='statusBar'><div></div></div>
            </div>
            <div class="col-lg-4">
                <img ng-show="!fileSrc && !model.ExternalResource" src="{{ options == 'IMAGE' ? '../Assets/Image/drag-drop-image.png' : '../Assets/Image/drag-drop-video.png' }}" class="empty-image" />
                <img ng-show="options == 'IMAGE' && !!fileSrc" src="{{ fileSrc || '../Assets/Image/drag-drop-image.png' }}" class="filled-image" />
                <video ng-show="options == 'MOVIE' && !!fileSrc" controls autoplay src="{{ getUrl(fileSrc)}}"></video>
                <div ng-if="options == 'MOVIE' && model.ExternalResource">
                    <iframe ng-if="model.ExternalResource.indexOf('youtu') !=-1" width="560" height="315" src="{{getUrl(model.ExternalResource)}}" frameborder="0" allowfullscreen></iframe>
                    <iframe ng-if="model.ExternalResource.indexOf('player.vimeo.com') !=-1" src="{{getUrl(model.ExternalResource)}}" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div ng-switch-when="IMAGE" class="navy-cloud">
                    Plik wideo może być w formacie MP4, OGG lub WEBM. Wielkość pliku nie może przekraczać 500 MB. Wideo w innym formacie może zostać dołączone do szkolenia poprzez jego dodanie na YouTube bądź Vimeo i podanie linka do niego później.
                </div>
                <div ng-switch-when="MOVIE" class="navy-cloud">
                    Plik wideo może być w formacie MP4, OGG lub WEBM. Wielkość pliku nie może przekraczać 500 MB. Wideo w innym formacie może zostać dołączone do szkolenia poprzez jego dodanie na YouTube bądź Vimeo i podanie linka do niego później.
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-switch-when="MOVIE">
            <h4>ALBO</h4>
            <div class="circle-pointer">B</div>
            <h4><span>Skopiuj i wklej ścieżkę do wideo umieszczonego na YouTube bądź Vimeo.</span></h4>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" placeholder="Podaj link do wideo" type="text" ng-model="model.ExternalResource" ng-blur="change()">
                </div>

                <div class="col-lg-4">
                    <div class="navy-cloud visible-lg">
                        Nie wiem jakie tu są potrzebne
                        wytyczne, jaki może być link z YT, czy
                        skrócony przyjmie
                    </div>
                </div>
            </div>
        </div>
        <!--<div>
            <img ng-show="!fileSrc" src="{{ '../Assets/Image/empty.png' }}" class="empty-image" width="200px" height="200px" />
            <img ng-show="options == 'IMAGE' && !!fileSrc" src="{{fileSrc || '../Assets/Image/empty.png' }}" class="filled-image" width="200px" height="200px" />
            <div ng-show="options == 'MOVIE' && !!fileSrc" id="{{videoId}}" width="200px" height="200px">
                Ładuję plik wideo.
            </div>
            <div ng-if="options == 'MOVIE' && model.ExternalResource">
                <iframe ng-if="model.ExternalResource.indexOf('youtu') !=-1" width="560" height="315" src="{{getUrl(model.ExternalResource)}}" frameborder="0" allowfullscreen></iframe>
                <iframe ng-if="model.ExternalResource.indexOf('player.vimeo.com') !=-1" src="{{getUrl(model.ExternalResource)}}" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <img ng-show="options == 'IMAGE' && !fileSrc && model.ExternalResource" src="{{model.ExternalResource || '../Assets/Image/empty.png' }}" class="filled-image" width="200px" height="200px" />
        </div>-->
    </div>
</div>