<div>
    <div class="row">
        Pytanie {{questions.length + 1}}
    </div>

    <div class="row" ng-show="selectedQuestion == 1">
        <div class="row">
            <input type="text" id="mainInput"
                   name="currentQuestion.Text"
                   ng-model="currentQuestion.Text"
                   maxlength="100"
                   ng-blur="questionValidation = true">
            <div ng-show="questionValidation">
                <div ng-show="!!currentQuestion.Text && currentQuestion.Text.length < 10"> Wpisz pytanie na przynajmniej 10 znaków!      </div>
                <div ng-show="!!currentQuestion.Text && currentQuestion.Text.length > 100"> Pytanie może mieć maksymalnie 100 znaków!      </div>
            </div>
        </div>

        <div ng-repeat="answer in currentQuestion.Answers">
            <div class="row">
                <input type="radio" name="answer" ng-model="answer.IsSelected" />

                <input type="text" id="mainInput" ng-model="answer.Text" maxlength="100" ng-blur="answerValidation = true">
                Punkty
                <input type="number" id="mainInput" ng-model="answer.Score" maxlength="3" ng-blur="answerValidation = true">
            </div>
            <div ng-show="answerValidation">
                <div ng-show="!!answer.Text && answer.Text.length < 10"> Nazwa szkolenia musi zawierać miniumum 10 znaków!          </div>
                <div ng-show="!!answer.Text && answer.Text.length > 100"> Odpowiedź może mieć maksymalnie 100 znaków!        </div>
                <div ng-show="!!answer.Score && (answer.Score < 0 || answer.Score > 100)"> Za odpowiedź możesz przyznać od 0 do 100 punktów.          </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="selectedQuestion == 2">
        <div class="row">
            <input type="text" id="mainInput" name="currentQuestion.Text" ng-model="currentQuestion.Text" maxlength="100" ng-blur="questionValidation = true">
            <div ng-show="questionValidation">
                <div ng-show="!!currentQuestion.Text && currentQuestion.Text.length < 10"> Wpisz pytanie na przynajmniej 10 znaków!      </div>
                <div ng-show="!!currentQuestion.Text && currentQuestion.Text.length > 100"> Pytanie może mieć maksymalnie 100 znaków!      </div>
            </div>
        </div>
        <div ng-repeat="answer in currentQuestion.Answers">
            <div class="row">
                <input type="checkbox" name="answer" ng-model="answer.IsSelected" />

                <input type="text" id="mainInput" ng-model="answer.Text" maxlength="100" ng-blur="answerValidation = true">
                Punkty
                <input type="number" id="mainInput" ng-model="answer.Score" maxlength="3" ng-blur="answerValidation = true">
                <div ng-show="answerValidation">
                    <div ng-show="!!answer.Text && answer.Text.length < 10"> Nazwa szkolenia musi zawierać miniumum 10 znaków!          </div>
                    <div ng-show="!!answer.Text && answer.Text.length > 100"> Odpowiedź może mieć maksymalnie 100 znaków!        </div>
                    <div ng-show="!!answer.Score && (answer.Score < 0 || answer.Score > 100)"> Za odpowiedź możesz przyznać od 0 do 100 punktów.          </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="selectedQuestion == 3">
        <div class="row">
            <input type="text" id="mainInput" name="currentQuestion.Text" ng-model="currentQuestion.Text" maxlength="100" ng-blur="questionValidation = true">
            <div ng-show="questionValidation">
                <div ng-show="!!currentQuestion.Text && currentQuestion.Text.length < 10"> Wpisz pytanie na przynajmniej 10 znaków!      </div>
                <div ng-show="!!currentQuestion.Text && currentQuestion.Text.length > 100"> Pytanie może mieć maksymalnie 100 znaków!      </div>
            </div>
        </div>
        <div class="row">
            <input type="text" id="mainInput" ng-model="currentQuestion.Answers[0].Text" maxlength="100" ng-blur="answerValidation = true">
            Punkty
            <input type="number" id="mainInput" ng-model="currentQuestion.Answers[0].Score" maxlength="3" ng-blur="answerValidation = true">
            <div ng-show="answerValidation">
                <div ng-show="!!currentQuestion.Answers[0].Text && currentQuestion.Answers[0].Text.length < 10"> Nazwa szkolenia musi zawierać miniumum 10 znaków!          </div>
                <div ng-show="!!currentQuestion.Answers[0].Text && currentQuestion.Answers[0].Text.length > 100"> Odpowiedź może mieć maksymalnie 100 znaków!        </div>
                <div ng-show="!!currentQuestion.Answers[0].Score && (currentQuestion.Answers[0].Score < 0 || currentQuestion.Answers[0].Score > 100)"> Za odpowiedź możesz przyznać od 0 do 100 punktów.          </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button id="inputButto" ng-click="nextQuestion()">
            Dodaj kolejne pytanie
        </button>
        <select ng-model="selected" ng-options="c for c in questionType" ng-show="showQuestionType" ng-change="changeQuestion(selected)">
            <option value="">Wybierz</option>
        </select>
    </div>
</div>
