
<div class="preview-question" ng-repeat="item in questions">
    <div class="row">
        Pytanie {{questions.length}}
    </div>

    <div class="row" ng-show="item.Type == 0">

        <div class="row" ng-hide="item.isEdit">
            {{item.Text}}
        </div>
        <div class="row" ng-show="item.isEdit">
            <input type="text" id="mainInput" name="item.Text" ng-model="item.Text" maxlength="100" ng-blur="questionValidation = true">
            <div ng-show="questionValidation">
                <div ng-show="!!item.Text && item.Text.length < 10"> Wpisz pytanie na przynajmniej 10 znaków!      </div>
                <div ng-show="!!item.Text && item.Text.length > 100"> Pytanie może mieć maksymalnie 100 znaków!      </div>
            </div>
        </div>

        <div ng-repeat="answer in item.Answers">
            <div class="row">
                <input type="radio" name="answer" value=true ng-disabled="!item.isEdit" ng-model="answer.IsSelected" />

                <input type="text" id="mainInput" ng-disabled="!item.isEdit" ng-model="answer.Text" maxlength="100" ng-blur="answerValidation = true">
                Punkty
                <input type="number" id="mainInput" ng-disabled="!item.isEdit" ng-model="answer.Score" maxlength="3" ng-blur="answerValidation = true">
                <div ng-show="answerValidation">
                    <div ng-show="!!answer.Text && answer.Text.length < 1"> Odpowiedź musi zawierać miniumum 1 znak!          </div>
                    <div ng-show="!!answer.Text && answer.Text.length > 100"> Odpowiedź może mieć maksymalnie 100 znaków!        </div>
                    <div ng-show="!!answer.Score && (answer.Score < 0 || answer.Score > 100)"> Za odpowiedź możesz przyznać od 0 do 100 punktów.          </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="item.Type == 1">
        <div class="row" ng-hide="item.isEdit">
            {{item.Text}}
        </div>
        <div class="row" ng-show="item.isEdit">
            <input type="text" id="mainInput" name="item.Text" ng-model="item.Text" maxlength="100" ng-blur="questionValidation = true">
            <div ng-show="questionValidation">
                <div ng-show="!!item.Text && item.Text.length < 10"> Wpisz pytanie na przynajmniej 10 znaków!      </div>
                <div ng-show="!!item.Text && item.Text.length > 100"> Pytanie może mieć maksymalnie 100 znaków!      </div>
            </div>
        </div>
        <div ng-repeat="answer in item.Answers">
            <div class="row">
                <input type="checkbox" name="answer" ng-disabled="!item.isEdit" ng-model="answer.IsSelected" />

                <input type="text" id="mainInput" ng-disabled="!item.isEdit" ng-model="answer.Text" maxlength="100" ng-blur="answerValidation = true">
                Punkty
                <input type="number" id="mainInput" ng-disabled="!item.isEdit" ng-model="answer.Score" maxlength="3" ng-blur="answerValidation = true">
                <div ng-show="answerValidation">
                    <div ng-show="!!answer.Text && answer.Text.length < 1"> Odpowiedź musi zawierać miniumum 1 znak!          </div>
                    <div ng-show="!!answer.Text && answer.Text.length > 100"> Odpowiedź może mieć maksymalnie 100 znaków!        </div>
                    <div ng-show="!!answer.Score && (answer.Score < 0 || answer.Score > 100)"> Za odpowiedź możesz przyznać od 0 do 100 punktów.          </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="item.Type == 2">
        <div class="row" ng-hide="item.isEdit">
            {{item.Text}}
        </div>
        <div class="row" ng-show="item.isEdit">
            <input type="text" id="mainInput" name="item.Text" ng-model="item.Text" maxlength="100" ng-blur="questionValidation = true">
            <div ng-show="questionValidation">
                <div ng-show="!!item.Text && item.Text.length < 10"> Wpisz pytanie na przynajmniej 10 znaków!      </div>
                <div ng-show="!!item.Text && item.Text.length > 100"> Pytanie może mieć maksymalnie 100 znaków!      </div>
            </div>
        </div>
        <div class="row">
            <input type="text" id="mainInput" ng-disabled="!item.isEdit" ng-model="item.Answers[0].Text" maxlength="100" ng-blur="answerValidation = true">
            Punkty
            <input type="number" id="mainInput" ng-disabled="!item.isEdit" ng-model="item.Answers[0].Score" maxlength="3" ng-blur="answerValidation = true">
            <div ng-show="answerValidation">
                <div ng-show="!!item.Answers[0].Text && item.Answers[0].Text.length < 1"> Odpowiedź musi zawierać miniumum 1 znak!          </div>
                <div ng-show="!!item.Answers[0].Text && item.Answers[0].Text.length > 100"> Odpowiedź może mieć maksymalnie 100 znaków!        </div>
                <div ng-show="!!item.Answers[0].Score && (item.Answers[0].Score < 0 || item.Answers[0].Score > 100)"> Za odpowiedź możesz przyznać od 0 do 100 punktów.          </div>
            </div>
        </div>


    </div>

    <div ng-show="!!ErrorMessage && ErrorMessage.length > 0">
        {{ErrorMessage}}
    </div>

    <div class="col-md-2">
        <div id="inputButto" ng-click="up(item)">
            <span class="glyphicon glyphicon-arrow-up"></span>
        </div>
        <div id="inputButto" ng-click="down(item)">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </div>
        <div id="inputButto" ng-click="edit(item)">
            <span class="glyphicon glyphicon-pencil"></span>
        </div>
        <div id="inputButto" ng-click="delete(item)">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <button id="inputButto" ng-click="save(item)" ng-show="item.isEdit">
            ZAPISZ
        </button>
        <button id="inputButto" ng-click="cancel(item)" ng-show="item.isEdit">
            ANULUJ
        </button>

    </div>
</div>
