<div>
    <div ng-switch="options">
        <h4 ng-switch-when="PRESENTATION">DODAJ PREZENTACJĘ</h4>
        <h4 ng-switch-when="FILE">DODAJ PLIK</h4>
        <div class="row">
            <div class="col-lg-4">
                <span class="btn navy-button btn-l btn-file">
                    WYBIERZ PLIK Z DYSKU
                    <input type="file"
                           class="upload-file"
                           onchange="angular.element(this).scope().upload(this)"
                           name="uploadFiles">
                </span>
            </div>
            <div class="col-lg-4">
                {{ fileName || '' }}
        <iframe ng-show="!!fileName && options === 'PRESENTATION' " src="{{getUrl(model.InternalResource)}}" style="width:600px; height:500px;" frameborder="0"></iframe>
                <div class='statusBar'><div></div></div>
            </div>
            <div class="col-lg-4">
                <div ng-switch-when="PRESENTATION" class="navy-cloud visible-lg">
                    Prezentacja może być w formacie PPT,
                    PPTX lub PDF. Rozmiar pliku nie może
                    przekraczać 30 MB.
                </div>
                <div ng-switch-when="FILE" class="navy-cloud visible-lg">
                    Wczytany plik będzie dostępny do
                    pobrania. Rozmiar pliku nie może
                    przekraczać 30 MB. Nazwa pliku
                    będzie taka jak na dysku.
                </div>
            </div>
        </div>
    </div>
</div>
