<div class="login-container">
    <div class="login-message center" ng-show="loginForm.loginFailure">Wystąpił błąd podczas logowania</div>
    <div class="form" ng-form="loginFrm">
        <div class="login-form-row"><label>Login:</label><input type="text" ng-model="loginForm.emailAddress" required /></div>
        <div class="login-form-row"><label>Hasło:</label><input type="password" ng-model="loginForm.password" required /></div>
        <div class="login-form-row center"><div class="btn" ng-click="login()||processing" ng-disabled="loginFrm.$invalid">Login</div></div>
        <div class="login-form-row center"><a href="/resetPassword" class="btn">Niepamiętam Hasła</a></div>
    </div>
</div>