<div class="login-container">
    <div class="form" ng-form="loginFrm">
        <div class="login-form-row"><label>Login:</label><input type="text" ng-model="loginForm.emailAddress" required /></div>
        <div class="login-form-row"><label>Email:</label><input type="password" ng-model="loginForm.password" required /></div>
        <div class="login-form-row center"><div class="btn">Resetuj hasło</div></div>
        <div class="login-form-row center hint">*Jeżeli niepamiętasz loginu skontaktuj się z administratorem w twojej firmie</div>
    </div>
</div>
