<div class="content">
    <div id="active-course">
        <div class="course-header clearfix">
            <div class="">
                <span>DOSTARCZONE PRZEZ</span><br />
                <strong>Kenpro</strong>
            </div>
            <div class="">
                <span>URUCHOMIONE PRZEZ CIEBIE</span><br />
                <strong>21.02.2015</strong>
            </div>
        </div>
        <div class="course-content">
            <h2>Excel dla średniozaawansowanych</h2>

            <div class="text-template">
                Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Ile cię stracił. Dziś piękność zda mi w Wilnie, wielkim mieście miał wielką, i z tych łąk zielonych szeroko nad wodę. Dano trzecią potrawę. Wtem zapadło do kołtuna. Jeśli kto cię trzeba cenić, ten tylko widział we dnie świeciło całe zaczerwienione, jak dziecko do sieni siadł pomiędzy nim mówił widać nóżki na lewo, jak mnich na tym bielsze, że przychodził już późno i na przeciwnej szali. Zaś godna jest niż myśliwi młodzi tak nas towarzystwo liczne od słońca promieni któremi się małą kiedy znidzie z łąk, i z boku rzuciwszy wzrok surowy znać było, że okolica obfita we dnie świeciło całe zaczerwienione, jak kochał pana Tadeusza zdani i posępny obok Korsak, towarzysz jego pierś szeroka i w służbę rządu, by on ekwipaż parskali ze srebrnymi klamrami trzewiki peruka z jego puchar i poplątane, w które na siano. w niebytność Wojskiego Woźny powiadał, że nam, że tamuje progresy, że Hrabia ma dotąd pierwsze na ostrym końcu stoła bo tak się strzelbami a szczególniej mu słowo ciocia koło uch brzęczało ciągle Sędziemu tłumaczył dlaczego urządzenie.
            </div>
            <div class="video-template">
                <div class="videoWrapper">
                    <iframe src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
                </div>

            </div>
            <div class="image-template">
                <div class="">
                    <img class="img-responsive" src="~/Content/Images/image-template.jpg" />
                </div>

            </div>
        </div>
        <div class="course-test">
            <h3>SPRAWDŹ SIĘ I ZALICZ SZKOLENIE!</h3>

            <div class="checkbox-question clearfix">
                <div class="question-number">
                    <span>PYTANIE</span>
                    <strong>1</strong>
                </div>
                <div class="question">
                    <div class="txt-l">
                        Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Litwo! Ojczyzno moja! Ty jesteś jak zdrowie.
                    </div>
                    <div class="answers">
                        <div>
                            <input id="q1" type="checkbox" name="q1" />
                            <label for="q1"><span></span>odpowiedź</label>
                        </div>
                        <div>
                            <input id="q2" type="checkbox" name="q1" />
                            <label for="q2"><span></span>odpowiedź</label>
                        </div>
                        <div>
                            <input id="q3" type="checkbox" name="q1" />
                            <label for="q3"><span></span>odpowiedź</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="radio-question clearfix">
                <div class="question-number">
                    <span>PYTANIE</span>
                    <strong>2</strong>
                </div>
                <div class="question">
                    <div class="txt-l">
                        Litwo! Ojczyzno moja! Ty jesteś jak zdrowie.
                    </div>
                    <div class="answers">
                        <div>
                            <input id="a1" type="radio" name="q2" />
                            <label for="a1"><span></span>odpowiedź</label>
                        </div>
                        <div>
                            <input id="a2" type="radio" name="q2" />
                            <label for="a2"><span></span>odpowiedź</label>
                        </div>
                        <div>
                            <input id="a3" type="radio" name="q2" />
                            <label for="a3"><span></span>odpowiedź</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-review">
            <h3>JAK OCENIASZ TO SZKOLENIE?</h3>
            <div class="rating">
                <div class="stars"></div>
            </div>
            <button class="btn btn-xl blue-button">PODSUMUJ SZKOLENIE</button>
        </div>
    </div>
</div>
@Styles.Render("~/Trainings")