<div>
    <div>Nazwa Organizacji: <span>@ViewBag.Organization.Name</span></div>
    <div>Twój adres email: 
        @if (@ViewBag.Organization.CanUserChangeMail == true)
        {
            <input type="text" ng-model="user.Email" /> <div class="btn">Zmień adres email</div>
        }
        else
        {
            <span>{{ user.Email }}</span>
        }
    </div>
    <div>Twoja nazwa:
        @if (ViewBag.Organization.CanUserChangeName == true)
        {
            <input type="text" ng-model="user.UserName" /><div class="btn">Zmień nazwę</div>
        }
        else
        {
            <span>{{ user.UserName }}</span>
        }
    </div>
    <div>Twoje hasło: <input type="password" ng-model="user.Password" /><div class="btn">Zmień hasło</div></div>
    <div><div class="btn">Usuń moje konto</div></div>
    <div>Jeśli chcesz skotaktować się z administratorem tej organizacji napisz na adres email: 
        @foreach (var mail in ViewBag.AdminEmails)
        { 
            <span>@mail</span> 
        }
    </div>
</div>