
<div class="content">
    <div class="submenu clearfix">
        <ul class="clearfix">
            <li><a>WSZYSTKIE</a></li>
            <li><a>WEWNĘTRZNE</a></li>
            <li><a>OD KENPRO</a></li>
        </ul>
    </div>

    <div class="course">
        <h2>Tytuł szkolenia</h2>
        <div class="course-box">
            <div class="left">
                <img src="~/Content/Images/course-image.png" />
            </div>
            <div class="right">
                <div class="description txt-m">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                </div>
                <div class="buttons clearfix">
                    <div class="show-less-more btn btn-l">
                        <img src="~/Content/Images/show-more-btn-icon.png" /><img style="display:none;" src="~/Content/Images/show-less-btn-icon.png" />
                        <span>WIĘCEJ</span><span style="display:none;">MNIEJ</span>
                    </div>
                    <button class="btn btn-l blue-button run">URUCHOM SZKOLENIE</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Trainings")