<div>
    <div class="modal-header">
        <div class="btn btn-primary" ng-click="close()">X</div>
    </div>
    <div class="modal-body">
        <div>
            <div class="intro-text"></div>
            <div class="users-list">
                <div ng-repeat="item in marks" class="user-item">
                    <img ng-src="{{item}}" ng-click="select(item)" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-header">
        <div class="btn btn-primary" ng-click="save()">ZAPISZ</div>
    </div>
</div>
