<div class="modal-header">
    <div class="btn btn-primary" ng-click="close()">X</div>
</div>
<div class="modal-body">
    <div>
        <div id="mainText">
            Nazwa :
        </div>
        <input type="text" id="mainInput" name="Current.Name" ng-model="Current.Name">

            Uzytkownicy : 
        <div ng-repeat="user in viewModel.People" class="user-item">
            <input type="checkbox" ng-model="user.selected" /> {{user.DisplayName}}, ({{user.Email}})
        </div>

    </div>
</div>
<div class="modal-header">
    <div class="btn btn-primary" ng-click="save()">Zapisz</div>
    <div class="btn btn-primary" ng-click="close()">Anuluj</div>
</div>
