<div class="modal-header">
    <div class="btn btn-primary" ng-click="close()">X</div>
</div>
<div class="modal-body">
    <div>Nazwa : <input class="form-control" type="text" id="mainInput" name="Current.DisplayName" ng-model="Current.DisplayName"></div>
    <div>Email : <input class="form-control" type="text" id="mainInput" name="Current.Email" ng-model="Current.Email"></div>
</div>
<div class="modal-header">
    <div class="btn btn-primary" ng-click="save()">Zapisz</div>
    <div class="btn btn-primary" ng-click="close()">Anuluj</div>
</div>
